[2018-11-23 15:58] imbhargav5 opened #2 "Add search bar with keywords"

[2018-11-23 15:59] imbhargav5 opened #3 "Add server rendering for SEO"

[2018-11-27 05:43] imbhargav5 opened #4 "Add test cases"

[2018-11-27 05:44] imbhargav5 opened #5 "Add typescript typedefs"

[2018-12-23 07:04] #5 closed

[2018-12-23 07:19] imbhargav5 opened #6 "Move to Storybook"

[2018-12-23 07:20] imbhargav5 opened #7 "Create a better Readme"

[2018-12-23 07:33] imbhargav5 opened #8 "Move to Yarn workspaces"

[2018-12-23 07:34] imbhargav5 opened #9 "Configure Github actions to deploy to now.sh"

[2018-12-23 07:47] imbhargav5 opened #10 "JSDoc style comments"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-12-23 07:48] imbhargav5 opened #11 "Travis.ci continuous integration"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-12-23 07:48] imbhargav5 opened #12 "Licence badge, Npm version badge,"

[2018-12-26 15:24] imbhargav5 opened #13 "Github action"

[2019-01-20 13:44] #8 closed

[2019-01-20 13:44] #9 closed

[2019-01-20 13:44] #13 closed

[2019-01-24 06:26] imbhargav5 opened #15 "Implement use-previous hook"
Behavior:
Check for a value change and store the previous value inside state.

[2019-01-24 06:28] imbhargav5 opened #16 "Implement use-audio hook"

[2019-01-24 13:44] imbhargav5 opened #17 "SSR compatible"

[2019-01-24 18:01] #15 closed

[2019-01-24 18:15] #16 closed

[2019-01-27 11:39] #12 closed

[2019-01-27 11:43] imbhargav5 opened #18 "Add eslintrc"

[2019-01-27 13:02] #18 closed

[2019-01-27 13:29] imbhargav5 opened #19 "Add minify support"

[2019-01-27 13:29] #19 closed, assigned to nobody

[2019-02-06 19:34] #3 closed

[2019-02-06 19:34] #4 closed

[2019-02-06 19:34] #17 closed

[2019-02-07 06:55] bradd123 commented on #7
What do you mean by `better` here? Can you please describe so that I can contribute?

[2019-02-07 07:28] imbhargav5 commented on #7
👋 @bradd123. So right now, the Readme.md in the root of the project is auto generated by combining readme across all the `hook` packages. I am thinking we can improve that and take it further. Some of my ideas are like this

- [ ] Add inspiration for this project.
- [ ] Expanding the list of features
- [ ] Links to other the readme's of the packages instead of just putting it all out in the main R

[2019-02-07 13:38] imbhargav5 opened #22 "useLazyImage"
**Is your feature request related to a problem? Please describe.**
We need a hook to lazily load imgs

**Describe the solution you'd like**
[code]

It should internally use `@rooks/use-visibility-sensor`

**Describe alternatives you've considered**
We have been using react-lazy-image and react-lazy-progressive-image and it's about time we have a hook!

[2019-02-08 06:01] imbhargav5 opened #23 "Add useDebugValue to hooks for easy debugging."

[2019-02-09 11:19] imbhargav5 opened #25 "Add test cases for use-toggle"

[2019-02-09 11:20] imbhargav5 opened #26 "Add test cases for boundingclientrect"

[2019-02-09 11:20] imbhargav5 opened #27 "Add test cases for interval"

[2019-02-09 11:21] imbhargav5 opened #28 "Add test cases for useKey"

[2019-02-09 11:24] imbhargav5 opened #29 "Add test cases for willunmount"

[2019-02-09 11:27] imbhargav5 opened #30 "Add test cases for visibilitysensor"

[2019-02-11 10:37] imbhargav5 opened #33 "All contributors spec"
We should show all our contributors in the main readme of the project.

[2019-02-12 10:28] imbhargav5 opened #34 "Single Changelog for the project."
Right now, we have multiple changelogs (one for each project). It's getting out of hand. Let's move it into one place, so it's easier for releases.

[2019-02-12 11:51] imbhargav5 opened #36 "Ideas for more hooks!"
Hi Community!,

What kind of hooks do you want to see? Let's pitch some ideas here and take them up!

[2019-02-12 20:18] imbhargav5 opened #38 "Add fintara to contributors"
All contributors spec.

[2019-02-12 20:22] imbhargav5 commented on #38
@all-contributors please add fintara for code

[2019-02-12 20:24] imbhargav5 opened #40 "Add imbhargav5 to all contributors"

[2019-02-12 20:25] imbhargav5 commented on #40
@all-contributors please add @imbhargav5 for code, ideas, design, doc and bug.

[2019-02-12 20:26] imbhargav5 opened #42 "Add yesmeck to contributors"

[2019-02-12 20:27] imbhargav5 commented on #42
@all-contributors please add yesmeck for code.

[2019-02-12 21:46] #40 closed

[2019-02-12 21:46] imbhargav5 commented on #38
@all-contributors please add fintara for code

[2019-02-12 21:52] #38 closed

[2019-02-12 21:52] #42 closed

[2019-02-12 21:54] imbhargav5 opened #45 "Github action needlessly deploys when branch is not master."

[2019-02-12 23:12] Dianoga commented on #36
I'd like to see a `useDebounce` hook like this one https://github.com/streamich/react-use/blob/master/src/useDebounce.ts.

I was going to submit a PR, but the mono-repo stuff is blocking me and I don't have time to figure it out right now. The `react-use` library is under `unlicense` so you should be able to bring it in directly if you decide you like the idea.

[2019-02-13 07:00] imbhargav5 commented on #36
Definitely. Can you explain what is making it difficult for you to contribute? I will document it for everyone.

[2019-02-13 08:35] imbhargav5 commented on #33
Fixed.

[2019-02-13 08:35] #33 closed

[2019-02-13 08:35] #45 closed

[2019-02-13 10:59] JayaKrishnaNamburu commented on #22
Hi, @imbhargav5 how about giving a try for [lazysizes](https://github.com/aFarkas/lazysizes) it's simple and around 3.5kb in size, here is the [example](https://jayakrishnanamburu.github.io/travel/) which I used for implementing. How about building a wrapper which uses this under the hood.

[2019-02-13 12:56] imbhargav5 commented on #22
Hmm, aren't they two different things? One is about sizes, the other is about loading an image only when the component is in the viewport. Am I missing something?

[2019-02-13 12:58] JayaKrishnaNamburu commented on #22
No, actually the name is a little mis-leading this is written in plain js, which automatically sets the src vakue of image when the user scrolls and the image comes to the view port, you check the network tab by loading the example i shared.

[2019-02-13 13:45] Dianoga commented on #36
I was able to create the hook via `yarn create`, but I don't know what needs to be done to get the new hook into the rooks package. Also, normally to test npm packages where I want to use them, I can just symlink the package into `node_modules` but in this case it wasn't obvious what should be linked.

[2019-02-14 12:43] bradd123 commented on #23
https://reactjs.org/docs/hooks-reference.html#usedebugvalue

Do we need to add this to all the hooks?

[2019-02-14 12:45] imbhargav5 commented on #23
Yes definitely!

[2019-02-17 06:01] imbhargav5 opened #49 "Cumulative typedefs for Rooks package"
We need to merge typedefs across all the individual packages and add them to the `rooks` package for autocompletion to work correctly.

[2019-02-21 12:43] fhellwig opened #50 "The useInterval hook creates an undesired closure over the state."
**Describe the bug**
The `useInterval` hook does not follow the [recommended approach from Dan Abramov](https://overreacted.io/making-setinterval-declarative-with-react-hooks/). As a result, it maintains the closure over outside objects used in the callback function. For example, using the state returned by `useReducer` in the `useInterval` callback will result in the callback function never seein

[2019-02-21 12:46] imbhargav5 commented on #50
@fhellwig I remember testing it a few times but didn't run into this issue. But will definitely want to solve this bug. Can you link a codesandbox reproduction with this issue?

[2019-02-21 12:51] imbhargav5 commented on #50
I tried a reproduction here. It does work.
[![Edit m73jxqmy9x](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/m73jxqmy9x)

[2019-02-21 12:55] fhellwig commented on #50
I can do that but if you look at Dan's post, he shows how not keeping the callback using a ref (useRef) will cause this bug. Basically, his "won't work" example is the current rooks implementation. :-)

There is another package, react-useinterval, has the correct implementation (copied, and he acknowledges this, from the Abramov post).

[2019-02-21 12:55] imbhargav5 commented on #50
In the same article, Dan mentions that using `useReducer` like we did is also one of the solutions. Let me know if there is something that I am missing.

[2019-02-21 12:58] imbhargav5 commented on #50
Hmm, I see. I actually like the `useReducer` style better though. You are welcome to send a PR. Would be happy to add you to the list of contributors.

[2019-02-21 13:04] fhellwig commented on #50
In your sandbox, just add `console.log('count', count)` after the dispatch (after line 13) and observe that count is *always* zero.

[2019-02-21 13:06] imbhargav5 commented on #50
Ah, you are right!

[2019-02-21 13:12] fhellwig commented on #50
Even if I were to send you a pull request, I would simply be copying the code from Dan's post but I am sure you can do that just as well as me. :-) Thanks for curating all of these packages - very handy to have them all in one place!

[2019-02-21 13:13] imbhargav5 commented on #50
Sure that's no problem at all. Go ahead! And thank you for the compliments!

[2019-02-21 13:14] imbhargav5 commented on #50
I want to involve as many people as I can in this project. So if you can send a PR that would mean a lot!

[2019-02-21 22:02] fhellwig commented on #50
I will send you a PR.

[2019-03-29 18:44] 9bits opened #57 "Trigger only once"
I'm currently using https://react-hooks.org/hook/use-visibility-sensor
Hi, is there a way to only trigger only once?

For example, even if I resize the window 5 times, I should only see the event being triggered once. (When the element first becomes visible)

[2019-04-01 19:03] #57 closed

[2019-04-08 09:59] simbathesailor opened #60 "useInterval hooks does not work as expected in certain scenarios."
**Describe the bug**
So I was trying to understand hooks patterns where I tried to use useInterval hooks from rooks :). The callback is not having access to updated value. hence not updating the value in the component it uses

**To Reproduce**
Steps to reproduce the behavior:
1. This is the codepen with using existing useInterval
https://codepen.io/stack26/pen/LvRaWe?editors=1111

2. This is the c

[2019-04-08 13:31] imbhargav5 commented on #60
Hey @simbathesailor True. This is an issue and it has been fixed in the dev branch. I haven't released it  to `latest`yet. But it will be out shortly. Meanly please try using using the `alpha` version `npm i @rooks/use-interval@alpha`. This issue is solved in that branch.

Please let me know if it worked for you!

[2019-04-08 15:51] simbathesailor commented on #60
Yes It works, Thanks. the solution is much cleaner in alpha release. So you used useRef for persisting the callback hence the scope hence the correct updated value. Am i right ?

[2019-04-08 15:56] simbathesailor commented on #36
Maybe a hook which listens for multiple key presses and does something when certain keys are pressed at a time.
I created a hook for listening to multiple keypress shortcuts on a page or any dom element where key press makes sense in this library. https://github.com/simbathesailor/react-key-collector .  I think this repo is suitable place for this hook
Maybe I can raise a pr for it after having di

[2019-04-08 16:27] imbhargav5 commented on #60
Yes that's right. :) It was contributed in a PR after an implementation example for this was given by @gaearon.

[2019-04-08 16:28] imbhargav5 commented on #36
Definitely go ahead! Perhaps we can make a useKeys hook 🤔 ?

[2019-04-08 16:41] simbathesailor commented on #36
Cool , i will raise a pr asap and we will take it from there.

[2019-04-09 05:05] #60 closed

[2019-04-14 11:04] simbathesailor opened #62 "useKeys hooks for listening to one or multiple keypresses"
Feature

useKeys hooks allow adding certain action when one or multiple keys are pressed at the same time.

I have picked up the task of creating this hook.

I will be using this ticket for the questions and track the progress of this specific hook.

[2019-04-14 11:09] simbathesailor commented on #62
@imbhargav5 Shall I cut the new branch from dev branch ?

[2019-04-14 11:25] imbhargav5 commented on #62
Hi @simbathesailor You can base of master. I have already merged dev branch into master. :)

[2019-04-15 04:38] simbathesailor commented on #62
I implemented the working useKeysHook. So it basically works but doesn't work :). Here is the link for codepen where I am using the useKeysHook which I will be committing.

https://codepen.io/stack26/pen/BEwJqx?editors=1011

So how can I make sure the callback takes the updated value. In my case, i am looking for "testValue" variable that should get updated in the callback.
I tried setting it to r

[2019-04-15 07:51] imbhargav5 commented on #62
Do you mind creating a codesandbox link instead? Codepen is notoriously difficult for viewing large js files haha. Took a look but looks like `useRef` wasn't used to maintain ref to the current callback. I think that is the reason.

[2019-04-15 13:53] simbathesailor commented on #62
Yes, you are right, didn't think that the code will become so big. :). Here is the codesand box link:
https://codesandbox.io/s/zq6mm0nykp . I tried adding ref to callback also, but it didn't seem to work.
Something it seems I am not clear about these hooks

[2019-04-15 16:14] imbhargav5 commented on #62
Oh, how can I reproduce the bug?

[2019-04-15 16:15] simbathesailor commented on #62
See the codesandbox link, there I have logged testValue in one of the callback. It should console the updated testValue, but it doesnot !!

[2019-04-15 16:33] imbhargav5 commented on #62
Ah.. so some of the logic is against the hooks spec. For eg: you cannot have one hook within another. So `useKeyDown` within `useEffect` is wrong.

[2019-04-15 16:53] simbathesailor commented on #62
you are right, now it seems to work, https://codesandbox.io/s/p9q7q1l8y7. But it triggers a thought that will it not be problematic to write interdependent hook more that one level ?  💭

Does everything look ok with the code now or you want to discuss anything, that we might change ? 🤔

[2019-04-15 17:49] imbhargav5 commented on #62
So, I think it can be a lot less complicated than that to be honest. I think it can look at lot similar to useKeys with minor changes to make it multi.

[2019-04-16 06:33] simbathesailor commented on #62
Hmm. you are right there. Made some changes after having a look at useKey.  https://codesandbox.io/s/p9q7q1l8y7
Now the API look like :

[code]

I have made use of event.code as the key array. Reson being small case and capital cases are same for this usecase. ctrl, alt, option like keys which are mostly two in keypads.Differtentiating betwen small case, uppercase, left , right buttons  using even

[2019-04-18 16:23] simbathesailor commented on #62
Do let me know how it looks if by any chance you had the time to look at it.  Then we can finalize it.

Also I wanted to know what are the check point before raising the pr ??

Like what kind of test cases are required ?
Documenation ?
Code comments doc blocks ?

[2019-04-20 11:44] imbhargav5 commented on #50
@fhellwig This has been fixed and released in v3! Please take a look when you get chance.

[2019-04-20 11:44] #50 closed

[2019-04-20 11:44] #2 closed

[2019-04-20 11:44] #6 closed

[2019-04-20 11:44] #7 closed

[2019-04-20 11:44] #34 closed

[2019-04-29 18:34] chattling opened #64 "Return array instead of object for useInterval hook"
**Is your feature request related to a problem? Please describe.**
I would like to be able to give my own names for start and stop functions returned by useInterval hook. It is possible to use object renaming like { start: myStartFunc } with current implementation, however it would be more inline with react hooks to have them returned as array for easier renaming.

**Describe the solution you'd li

[2019-04-30 13:47] imbhargav5 commented on #64
Sounds good to me!

We should make it return an array to support array destructuring while maintaining backward compatibility with object destructuring.

Would love it if you can send a PR!

[2019-04-30 16:43] chattling commented on #64
I know how to change it by returning array instead of object, but I can't think of way to make it backward compatible without creating whole new hook.
Also I don't feel comfortable opening PR, as I never done it before..

[2019-05-01 03:32] imbhargav5 commented on #64
It's fine if you are new to it and it's difficult. But you can use my repo as a playground for a PR. I don't mind if it's not the best PR. Most of mine aren't. It's not a compulsion though. :)

[2019-05-19 09:36] simbathesailor commented on #62
https://github.com/imbhargav5/rooks/pull/65

[2019-05-21 20:02] brtdv opened #66 "Containment property not working / usage unclear"
Hi guys,
I'm trying to use the `containment` property in the options object of the `useVisibilitySensor` hook, but the `containment` property does not seem to work (or I'm using it wrong?)

Please consider the example at: **https://codesandbox.io/s/falling-hooks-orwyw?fontsize=14**.

When you use your browsers' inspect element on Box 0, you'll see that the `isVisible` class is only removed when th

[2019-05-22 16:55] imbhargav5 commented on #66
@brtdv Thanks for taking the time to make a sandbox and bringing up this issue. On first impression, it does seem like a bug to me. Taking a look now.

[2019-05-22 17:20] imbhargav5 commented on #66
Seems like `position:absolute` is causing this issue.
https://codesandbox.io/s/mystifying-wildflower-3z628?fontsize=14

This is the expected behaviour right?

[2019-05-23 07:49] brtdv commented on #66
Yes, this example has the expected behaviour, but I'm not sure if `position: absolute;` is the cause of the problem. The example now has the expected behaviour, but probably because the `.Box` elements move out of the `window` instead of out of the `containment` element.

[2019-05-23 09:03] brtdv commented on #66
I was able to find a solution. The problem is not the code around the `containment` property in the library itself, but rather my demo apps' hooks usage/container initialization.

The key is that the <Box /> elements can only be rendered after the `containerRef` has been fullfilled to get my demo working... This is a bit tricky with hooks, but I've managed to 'hack' together a solution by using `u

[2019-05-24 08:03] imbhargav5 commented on #66
@brtdv Ahh. I see. But I think we should come up with a solution that doesn't need this from the end user. What if this hook supported a ref as a containment. So, something like containmentRef or something?

[2019-05-26 09:53] simbathesailor commented on #22
Hey @imbhargav5. I want to take a hit at this. Can I go ahead and take this issue?. I will discuss the approach when I have done some kind of homework around it. Thanks

[2019-05-26 14:27] brtdv commented on #66
@imbhargav5 Yeah, absolutely, that seems like a more elegant solution...

[2019-06-03 05:50] imbhargav5 commented on #22
Sure please do. Sorry I responded late. Fell sick and was away from internet for a while.

[2019-06-03 06:06] simbathesailor commented on #22
@imbhargav5 It's ok man, take care !!. While implementing the useLazyImage I checked the useVisibility hook(so that i can make use of it). There were some issues which I figured out with the approach used in it:

1.Right not it is based on getBoundingClientRect(). which runs on main thread can cause make the scrolling sluggish, if there are many event listener attached. Hence thought of suggesting

[2019-06-03 16:57] imbhargav5 commented on #22
Nice. IntersectionObserver sounds good. Go ahead man!

[2019-06-04 12:21] maciekgrzybek commented on #23
I could add that, if you guys still need help :)

[2019-06-05 17:26] imbhargav5 commented on #23
Definitely. Feel free to take it up!

[2019-06-09 07:34] imbhargav5 commented on #66
Would you like to give it a shot?

[2019-06-09 17:21] simbathesailor commented on #66
Hello guys, I am working on useIntersectionObserver, which can work the same as "useVisibility"  hook.

More pointer here for the benefits of using intersectionObserver:
https://github.com/imbhargav5/rooks/issues/22#issuecomment-498124498

@brtdv I forked your repo and tried it with useIntersectionObserver. Could you please have a look at the forked code sandbox link(https://codesandbox.io/s/autum

[2019-06-12 06:56] ranjith29h commented on #22
@imbhargav5
Intersection Observer call back runs in the **main thread**.
![IntersectionObserver](https://user-images.githubusercontent.com/12975992/59329721-32ed1400-8d0d-11e9-8c83-efea0a03bbf4.png)

[here](https://developers.google.com/web/updates/2016/04/intersectionobserver)

[2019-06-12 15:30] simbathesailor commented on #22
@ranjith29h
Yes you right, thanks for correcting me. I just misinterpret the mdn docs.The callback runs in the main thread. The reason for the jank behavior when using getBoundingClientRect() will cause re-layout of the whole page which ultimately a synchronous task hence the jank behaviour. Nice read .
IntersectionObservers doesn't cause re-layout hence performant!!

[2019-06-17 05:47] ranjith29h commented on #22
@simbathesailor The below link will helpful
https://addyosmani.com/blog/lazy-loading/

[2019-06-25 16:59] simbathesailor commented on #36
Hi @imbhargav5
I was working on some react project, and somehow found a need for getting geolocation.
Can we have something called useGeolocation(). Most of the time its like a utility that get called when someone clicks on use my location text. But do we have any usecases where we need to have geolocation info(lat and lng ) on component mount or updates or something? What are your thoughts?

[2019-07-07 11:27] JustinLivi opened #70 "MutableRefObject<HTMLElement> in useBoundingClientRect"
Thanks for developing this library! I'm just diving into hooks but this seems like a great resource.

**Describe the bug**
Currently the `useBoundingClientRect` hook expects a `MutableRefObject<HTMLElement>`.

Based on the behavior and typings for `useRef` from the DefinitelyTyped definitions for React, producing a `MutableRefObject<HTMLElement>` does not appear to be possible.

The closest I can

[2019-07-07 17:47] simbathesailor commented on #22
@imbhargav5 I did the useLazyLoadImage first cut. There are quite some things which are pending.

have a look at it and give me feedback if any. APIs are not final, may change in future. here is the sandbox link:

https://codesandbox.io/s/uselazyimage-mof97

[2019-07-21 14:51] imbhargav5 commented on #70
Ahh you are right! Sorry, I am responding late. Would you like to submit a PR? That would be great!

[2019-07-31 04:03] simbathesailor commented on #36
@imbhargav5
How about of hook which provides the history of any variable.(useHistory) It can be used to implement undo functionality for lot many cases.
Similar to https://github.com/omnidan/redux-undo.

 We have usePrevious but that  work for just previous value.
Your thoughts ?

[2019-07-31 05:23] imbhargav5 commented on #36
I think implementing useUndo might be a touch too much for this project since useUndo needs to track every state or props change in the app which we can't control. Redux surrounds the app so it would make sense to be part of the react-redux project.

[2019-08-03 11:47] imbhargav5 commented on #70
@JustinLivi Just made this fix. Will publish shortly!

[2019-08-03 11:49] #25 closed

[2019-08-03 11:50] #27 closed

[2019-08-03 11:50] #62 closed

[2019-08-03 12:32] imbhargav5 commented on #64
It's coming in an upcoming release.

[2019-08-03 14:07] JustinLivi commented on #70
Thanks! Sorry I didn't get around to submitting a PR.

[2019-08-03 16:33] imbhargav5 commented on #28
0425ffabd53365966bb1ba50f98aa003e40113ff

[2019-08-03 16:33] #28 closed

[2019-08-03 16:42] imbhargav5 commented on #29
cf06fd565e22e3f7584a16e9fd5f5aff28beb732

[2019-08-03 16:42] #29 closed

[2019-08-03 16:43] imbhargav5 commented on #70
Np! Thanks for helping me identify this issue!

[2019-08-03 16:43] #70 closed

[2019-08-03 16:53] imbhargav5 opened #77 "Fix actions"

[2019-08-04 17:18] #77 closed

[2019-08-05 08:26] imbhargav5 opened #81 "Improve useKey and useKeys"
**Describe the feature**
useKey and useKeys support different kinds of key identifiers. We need to make them uniform and make sure we support all use cases.

[2019-08-05 11:46] #64 closed

[2019-08-06 09:22] wintercounter opened #82 "Re-exporting other hooks"
I had a similar idea to release a hooks library. I'd have some hooks also on my own that I want to release and it would be nice if I'd be able simply include them in `rooks`. Would you consider such solution (re-exporting 3rd party hooks)? There are definitely some nice hooks out there and I think it would make more sense reusing those than recreating the same.

[2019-08-06 09:59] imbhargav5 commented on #82
I don't mind copying open source code and making hooks from existing 3rd party hooks and potentially improving them but re exporting might be a bit of a grey area. Don't think it would look good on `rooks`. What do you think?

[2019-08-06 10:04] wintercounter commented on #82
My initial idea was making a repo/package that is a collection hooks around npm. It would be a community effort, anyone can add his package/findings and `rooks` would fit into this imo. Otherwise I'll basically go and create such lib :)
It would most probably also re-export hooks from rooks as well.

[2019-08-06 10:05] imbhargav5 commented on #82
Sure. Feel free to do that.

[2019-08-06 10:05] #82 closed

[2019-08-12 14:34] #81 closed

[2019-08-19 15:39] maciekgrzybek commented on #23
Hey, sorry it's been a while, but I've got time to tackle this task finally. I'm reading the docs, but there's a fragment:
[code]
Are you sure to add it to the project?

[2019-08-19 17:26] imbhargav5 commented on #23
Yeah now that I see this, I am actually fine with ignoring this issue for now. 👍

[2019-08-19 17:49] maciekgrzybek commented on #23
Make sense? :)any other tickets to sort out?

[2019-08-19 18:37] imbhargav5 opened #86 "Use `useEffect` instead of `useLayoutEffect` for outside-click hook"
**Describe the bug**
useLayoutEffect is unnecessary for outside-click hook. And creates needless warnings on the server side.

[2019-08-19 18:39] imbhargav5 commented on #23
@maciekgrzybek Sure! There is a small issue here https://github.com/imbhargav5/rooks/issues/86. But if you like to you can create a `useThrottle` hook similar to `useDebounce` which we have. What do you think?

[2019-08-20 14:39] maciekgrzybek commented on #23
hey @imbhargav5 , I'll jump into this fix first :) could you tell me how to get the local environment to work? I'm trying different commands from package.json but no luck :(

[2019-08-20 14:53] maciekgrzybek commented on #23
@imbhargav5 nevermind, my laptop was being an asshole :D figure it out now :)

[2019-08-20 15:49] maciekgrzybek commented on #23
PR added - https://github.com/imbhargav5/rooks/pull/87

[2019-08-20 15:51] maciekgrzybek commented on #23
Also, I can jump into that next one - I'll create a ticket :)

[2019-08-20 17:37] imbhargav5 opened #88 "Create hook script is outdated"
The workflow we have to create a new package with `yarn run create` is outdated.

[2019-08-20 20:07] maciekgrzybek commented on #88
What's wrong with it ?

[2019-08-20 20:10] maciekgrzybek opened #89 "Create new hook - useThrottle"
There's already hook called useDebounce, who serves similar purposes, but we need to add a new one that will handle function throttling. These concepts might sound very similar but they're actually quite different. Good explanation [here](https://www.matthewgerstman.com/tech/throttle-and-debounce/).

I'm more than happy to work on this ticket.

[2019-08-21 09:53] imbhargav5 commented on #89
@maciekgrzybek Go ahead!

[2019-08-21 12:01] #86 closed

[2019-08-21 12:19] maciekgrzybek commented on #89
@imbhargav5 could you tell me, is there a way to run dev function on actual hooks? when I run `yarn run dev` seems like only storybook examples are updating and I need to run `yarn run build` to update the actual hook. Maybe I'm missing something?

[2019-08-21 16:04] wuct opened #91 "Add a way to update useBoundingClientRect with window's resize and scroll events"
ClientRects are tending to be updated with resizing or scrolling the window. There is no way to capture these updates in the current implementation.

There are two solutions that come into my mind:
1. Add options to `useBoundingClientRect`, e.g. `{ updateWithWindowScroll: boolean, updateWithWindowResive: boolean }`, as the second argument, and handle these events inside `useBoundingClientRect`.

[2019-08-21 16:09] simbathesailor opened #92 "useGeolocation hook"
As discussed in https://github.com/imbhargav5/rooks/issues/36#issuecomment-505532787, creating the ticket for tracking the progress for "useGeolocation" hook.

Here is the initial prototype made .

https://codesandbox.io/s/usegeolocation-h2lim

I will try to raise a pr for this one, next week. Have a look and give feedback if any.

Thanks

[2019-08-21 18:12] imbhargav5 commented on #91
I have been thinking about this @wuct. `useBoundingClientRect` needs a few improvements.
1) Update on resize and scroll
2) Update when the ref.current changes (mutable refs) can't handle it right now. This might need a more radical change to the code. We can ignore for now.

We already have `useOnWindowScroll` and `useOnWindowResize` hooks right now, I think we can put in them to use by default. L

[2019-08-21 18:13] imbhargav5 commented on #92
Beautiful!! This looks so good.

[2019-08-21 18:15] imbhargav5 commented on #92
One thing we should do is, we should not have any arguments of `geolocation` within our hook. They should be passed as is.
So we shouldn't need to do `useGeolocation(a,b,c,opts)` and then `gelocation(a,b,c,opts)`. Instead it should be `useGeolocation(...hookSpecficArgs?,...geolocationargs)` => `geolocation(...geolocationargs)`

[2019-08-21 18:18] imbhargav5 commented on #89
Hey @maciekgrzybek What do you mean by actual hooks? Oh to build the hook? Currently you will have to build the hook from within it's directory and that should update storybook too. We should improve that 😞

[2019-08-21 18:27] imbhargav5 commented on #88
@maciekgrzybek
I think this checking this list should be good.

- [ ] We need src/index.ts and src/useHook.ts and the useHook should come from the hook name
- [ ] LICENSE is missing
- [ ] .npmignore is missing
- [ ] tsconfig.json is missing
- [ ] package.json is different. We can mimic it as closely as possible by taking another hook as example. eg `useInput`
- [ ] index.d.ts is not needed to be p

[2019-08-21 18:35] wuct commented on #91
Turning on listeners by default might introduce performance issues if
consumers use it in a component with heavy computation, so maybe we should
let consumers opt in and enforce  consumers to consider the consequences.

Bhargav Ponnapalli <notifications@github.com>於 2019年8月22日 週四，上午2:12寫道：

--

Regards,
Ching Ting

[2019-08-21 18:41] imbhargav5 commented on #91
I see. In that case, let's do the `update` way?

[2019-08-21 18:46] wuct commented on #91
Sure, I also like that way :)

Bhargav Ponnapalli <notifications@github.com>於 2019年8月22日 週四，上午2:41寫道：

--

Regards,
Ching Ting

[2019-08-23 09:25] maciekgrzybek commented on #89
hey @imbhargav5 do you have Slack or Whatsapp or something like that? Got few questions about the project :)

[2019-08-23 12:16] imbhargav5 commented on #89
Yes you can ping me on whatsapp :) Ping me on twitter will share whatsapp details there. My handle is imbhargav5 on twitter.

[2019-08-23 17:20] imbhargav5 opened #93 "useLocalStorage and useSessionStorage perf upgrades"
- [x] usage of useCallback
- [x] storage event listener is added on each render. Must only be added on mount.

[2019-09-03 09:09] simbathesailor commented on #92
Raised a pull request for useGeolocation hook.
https://github.com/imbhargav5/rooks/pull/100

[2019-09-03 15:10] simbathesailor commented on #36
How about having useImagePreview. A simple hook that gives you the blob image URL for dragged or selected image.  The use case is very common for the image upload websites, back-office application where banners are uploaded for a site, profile image uploads. It's a rough idea for now but can make it slimmer based on discussions. What are your thoughts?

[2019-09-03 15:25] simbathesailor commented on #36
Sorry by mistake closed the issue

[2019-09-03 16:31] imbhargav5 commented on #36
@simbathesailor Interesting idea. We can do something like `useFileDrop`? And access the information of the file that was dropped within a ref.

[2019-09-05 05:33] imbhargav5 opened #103 "New useGeolocation is stuck in an infinite loop."
https://dev.react-hooks.org/?path=/story/usegeolocation--basic-example-geolocation-conditional

[2019-09-05 05:43] simbathesailor commented on #103
Ohh, I will have a look in sometime.

[2019-09-05 05:45] imbhargav5 commented on #103
Let's put in a test case to make sure this is covered.

[2019-09-06 06:29] imbhargav5 opened #117 "useKey should be able to accept a single key as first argument"
**Is your feature request related to a problem? Please describe.**
useKey currently accepts only an array of keys. We need to be able to accept a single value as argument.

**Describe the solution you'd like**
Right now for a single key we need to use`useKey(['Enter'],...)`
We should be able to do `useKey('Enter', ...)`

[2019-09-06 06:35] imbhargav5 opened #118 "v4 Roadmap"
These are the tentative list of breaking changes we should be looking to introduce in v4 and improve the package.

- [ ] useBoundingClientRect with `update` to support external events and recalculate
- [ ] useHookRef for all useHook which take a ref as argument. It can be useful if the ref is also returned by the hook itself. Eg
`const [ref, value] = useBoundingClientRectRef()`
`const [ref] = useO

[2019-09-06 12:14] simbathesailor commented on #117
Hi @imbhargav5 ,

Let's discuss this,

1. We need to handle also the string type as the first arguments.
2. We need to handle the scenario when passing the inValid key name, should warn the user . or should we not?. Because I checked the code doesIdentifierMatchKeyboardEvent in the shared folder. It will not invalidate it but will not run when passing invalid keys

Thoughts?

[2019-09-06 12:53] imbhargav5 commented on #117
Yeah I don’t think we need to invalidate. We should leave it to the user. Too much Dev work for too little result.

[2019-09-06 12:53] imbhargav5 commented on #117
But string type as first argument would be really intuitive.

[2019-09-06 13:56] maciekgrzybek opened #119 "Create usePerformance hook"
**Is your feature request related to a problem? Please describe.**
Recently in my job, I was working on large application, and we had to change/throttle some functionalities according to the user's device CPU, memory, etc. We could build a hook that will return info about it. There's a native API - [Performance Observer](https://developer.mozilla.org/en-US/docs/Web/API/PerformanceObserver), simila

[2019-09-06 20:44] donavon opened #120 "Incorrectly has `react-dom` as a peer dependency"
**Describe the bug**
`react-dom` is NOT a peer dependency for `useCounter`. With this in place, it shows a the following warning in the console:

[code]

This means that you get this warning when using `useCounter` in React Native and Ink (CLI).

[2019-09-07 05:56] imbhargav5 commented on #120
Absolutely. Would you like to submit a PR?

[2019-09-07 06:45] imbhargav5 commented on #120
@donavon A fix will deployed in the next release. 🎉

[2019-09-07 06:54] imbhargav5 commented on #117
This is fixed with this commit. 22b14b43c3a3fe1f33936e2588c73242543d1014

[2019-09-07 06:54] #117 closed

[2019-09-07 06:55] imbhargav5 commented on #120
Fixed with e0cdf32f97e625996d701e14f5d7c104c026bb96

[2019-09-07 06:55] #120 closed

[2019-09-07 06:55] imbhargav5 commented on #92
Fixed with ff0052ef8e34b80a3909a0c37ed2520a184624bc

[2019-09-07 06:55] #92 closed

[2019-09-07 06:56] imbhargav5 commented on #103
Fixed with e5963ccca2aea6ce90b725ad2b916692cd47e60d

[2019-09-07 06:56] #103 closed

[2019-09-08 16:02] imbhargav5 commented on #119
Hey good idea. However this use case isn't common enough to be in a generic package likes rooks IMO.

[2019-09-09 07:20] simbathesailor commented on #49
Hi @imbhargav5,
Could you please explain this issue more, I am a beginner in typescript. Would love to understand this problem and try this out.

[2019-09-09 07:27] imbhargav5 commented on #49
So our typedefs aren't really that great and they don't show up as often as we would like with autocomplete in VS code. Some definitions show up with `@rooks/useDidMount` but they won't show up for `import {useDidMount} from 'rooks' `. We need to find a way to combine typedefs well so the definitions are always visible.

[2019-09-09 07:28] imbhargav5 commented on #22
Sure go ahead. Let's try to get in useIntersectionObserver for `3.4.0` and take `useLazyImage` in `3.5.0` from there.

[2019-09-09 07:30] simbathesailor commented on #93
Raise a  pull request for this issue [https://github.com/imbhargav5/rooks/pull/128](issue-128)

[2019-09-09 07:36] simbathesailor commented on #22
Sounds Perfect!!

[2019-09-09 07:47] simbathesailor opened #129 "Let's add exhaustive-deps lint rule, for better hooks development"
**Is your feature request related to a problem? Please describe.**
A lint rule, which prevents doing mistakes while writing hooks in this repository.

**Describe the solution you'd like**
Add  exhaustive-deps rule and respective npm package is https://www.npmjs.com/package/eslint-plugin-react-hooks#installation

[2019-09-12 07:38] simbathesailor commented on #36
Hey @imbhargav5 ,
I was recently playing around with image zoom functionality, that we generally see on e-commerce websites, similar in flipkart website. I created a useImageZoom hook. Here is the link to codesandbox:  https://codesandbox.io/s/useimagezoom-ihvh5 . Please have a look at it and let me know, if we can take up this and improvise on it.

[2019-09-14 06:10] imbhargav5 opened #132 "useOnline should have correct initial state"
useOnline currently default starts to false. Let's set it `navigator.onLine` in browser env and `true` in server env.

[2019-09-17 10:51] simbathesailor commented on #132
Hi @imbhargav5 ,
If we are adding true as default state for online in nodejs, won't that be wrong ? Should we log some warning message in case if the user is using in nodejs environment.
As far as i understand , the network online status at server level depends, the serve might be able to reach some other servers, but not other servers. There is no browser there.

[2019-09-17 13:45] imbhargav5 commented on #132
Actually you are right. We should initialize it to `true` and put in a warning. Technically the fact that  a request went to the server means that the user is `online` right?

[2019-09-18 09:09] simbathesailor commented on #132
Hi @imbhargav5 ,
I mean I think the useOnline will be used in some components(function), so the function can be run at either client side or server side (in case of server side rendered app). In server side case, what should be the criteria to say that it is online, because  we don't need  internet to connect to local server which is responsible for creating html and sending it to client. In that

[2019-09-19 07:40] imbhargav5 commented on #132
We can actually make it return null on server side too.

[2019-10-01 16:21] maciekgrzybek commented on #129
Can I add that?

[2019-10-01 16:47] simbathesailor commented on #129
Hi @maciekgrzybek : Thanks a lot. One pull request is already there for exhaustive deps , https://github.com/imbhargav5/rooks/pull/134.  Although the pr has other fixes as well, You can review the eslint plugin part it and let me know if anything is missing

[2019-10-02 09:44] maciekgrzybek commented on #129
Hi @simbathesailor , just checked that, look fine in my opinion :)

[2019-10-02 09:45] maciekgrzybek commented on #132
What's the decision on this one? I could work on it if needed

[2019-10-02 17:32] imbhargav5 commented on #132
Yes please. So on the server, let's keep it simple and return `null` on the server side and on the client side we should initialize it with the online status during init. @maciekgrzybek

[2019-10-02 21:09] maciekgrzybek commented on #132
Hey guys, just did a PR, not sure if that's what you wanted - https://github.com/imbhargav5/rooks/pull/140

[2019-10-02 23:16] thibaultboursier commented on #132
Hello @simbathesailor @imbhargav5

Beyond the environment problem, I think it's not a good thing to set "false" state value by default, and then, inside effect (the second, in the order), set good state value (the result of getIsOnline function call).

We could use a callback function inside useState, and return result of getIsOnline method inside. It will also avoid to have a bad transition betwe

[2019-10-05 08:15] imbhargav5 commented on #132
Agreed.

[2019-10-07 02:21] braxtonchristensen opened #144 "create useFullscreen?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
I'm always frustrated when I am trying to make an app fullscreen, making it compatible for all browsers, remembering each API.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
a `useFullscreen` hook that will return a fullscreen

[2019-10-07 02:23] braxtonchristensen opened #145 "create useClipboard?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. I'm always frustrated when trying to use the clipboard api for different browsers.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
a useClipboard hook that would return whatever is currently on your clipboard as well as a funct

[2019-10-07 06:33] simbathesailor commented on #144
@braxtonchristensen, Thanks for raising this feature request. I found this article, which might be useful.  https://hacks.mozilla.org/2012/01/using-the-fullscreen-api-in-web-browsers/

[2019-10-07 08:50] imbhargav5 commented on #145
Yes please!

[2019-10-07 08:50] imbhargav5 commented on #144
Yes please! Feel free to send in a PR!

[2019-10-09 17:50] imbhargav5 commented on #91
Hi @wuct ,

The changes you requested are in a new hook called `useBoundingclientrectRef`. The current way of using MutableRefs for detecting changes to the node's dimensions are problematic since MutableRefs don't inform the component when the node changes if it does. CallbackRefs are better suited for that approach. Hence I am adding callbackref approaches to hooks that originally used MutableRe

[2019-10-09 18:37] #91 closed

[2019-10-09 18:40] maciekgrzybek commented on #145
I can take a look

[2019-10-10 05:50] lookfirst opened #148 "useLocalstorage - lowercase s"
https://github.com/imbhargav5/rooks/blob/dev/packages/localstorage/src/useLocalstorage.ts#L23

Why is it exported to the public as useLocalstorage when the function is useLocalStorage?

[2019-10-10 06:04] imbhargav5 commented on #148
Ah so the template to creating hooks has a pattern. A hook exported within `localstorage` becomes `useLocalstorage` and if it is exported in `local-storage` it becomes `useLocalStorage`. Here it should be `useLocalstorage` and it is a typo.

[2019-10-10 06:42] harshzalavadiya commented on #148
@imbhargav5 do we want to correct typo?
If so I can work on this issue and submit PR

[2019-10-10 07:33] imbhargav5 commented on #148
@harshzalavadiya Yes definitely! Thanks!

[2019-10-10 07:36] lookfirst commented on #148
soo.... can you fix it?

[2019-10-10 16:06] braxtonchristensen commented on #145
I have a PR I am cooking up @maciekgrzybek

[2019-10-11 11:18] oldmember opened #151 "useInput - How to clear input value ?"
Hello,
I use your hook to make a to do list. Every time I create new todo by pressing enter, the old input value is still in Input element. How to clear it like setState("") ?

[2019-10-12 11:50] imbhargav5 commented on #151
@oldmember There are a couple of ways of doing it depending on how you are using the input. Do you have an example snippet by any chance? One way is to call `onChange({ target : { value : ""}})`. Another cleaner way is to simply use the `key` prop to reinit the component that is using the hook.

[2019-10-13 05:03] lookfirst commented on #148
Oh shoot... wait a second... I was thinking you'd fix it to be the right camel case... useLocalStorage!

[2019-10-13 08:37] maciekgrzybek commented on #132
I think that can be closed now right?

[2019-10-13 10:00] harshzalavadiya commented on #148
@lookfirst, if we do `useLocalStorage` that means published npm package `use-localstorage` has to be deprecated and replaced with `use-local-storage` that might prevent so many users from upgrading to newer version.
so sticking with the package named seemed like a good idea

[2019-10-13 10:37] lookfirst commented on #148
The name of the variable in the browser is `localStorage` not `localstorage`. 🤷‍♂ you made a mistake, seems like perpetuating it is a bummer.

[2019-10-13 10:47] harshzalavadiya commented on #148
@lookfirst, Yes, I agree that's an mistake. but I was thinking about not abandoning many people
@imbhargav5, If everyone agrees then I'm happy to submit new PR for `use-local-storage` and `use-session-storage` and deprecating `use-localstorage` and `use-sessionstorage`

[2019-10-13 11:18] #151 closed

[2019-10-14 04:03] lookfirst commented on #148
abandoning people? it is a 1 character change.

[2019-10-14 06:56] harshzalavadiya commented on #148
renaming NPM package means deprecating `use-localstorage` and using `use-local-storage` entire new package existing users that use `use-localstorage` won't be able to receive updates.

one workaround might be using same package and exporting member as `useLocalStorage` that might be middle ground as of now. If that's possible I'll submit PR for that today

[2019-10-14 18:22] imbhargav5 commented on #148
Let's not go for `use-local-storage` right now.

[2019-10-14 22:25] harshzalavadiya commented on #148
Then current open PR will settle it as middle ground

[2019-10-17 10:26] #132 closed

[2019-10-22 05:26] simbathesailor commented on #36
@imbhargav5 , I came up with useDoubleClick hook. Can it be part of rooks package. There is no css involved. Right now it is not using useTimeout. But I can make changes to do so. I am also planning to write an article on it, where i can also mention about rooks package. Should i go ahead and do that.

[https://codesandbox.io/s/suspicious-brown-q9t59](url)

[2019-10-22 16:47] imbhargav5 commented on #36
Yep @simbathesailor Lets add it!

[2019-10-23 14:31] maciekgrzybek opened #157 "New hook idea - useSwipe"
I think it would be a good idea to create useSwipe hook, to detect swiping on touch devices. We could use [Hammer.js](https://hammerjs.github.io/) library as it's battle tested, well documented and maintained.

What do you think?

[2019-10-23 14:32] maciekgrzybek commented on #119
Ok make sense. Closing the issue.

[2019-10-23 14:32] #119 closed

[2019-10-24 11:50] imbhargav5 commented on #157
Yeah definitely. Now that this project https://github.com/JedWatson/react-hammerjs isn't as active it's definitely a good idea. However that would mean addding Hammer.js to the `rooks` project which will a) create a dependency chain b) Increase bundle size.

This should be a separate package like JedWatson created.

[2019-10-24 11:50] #157 closed

[2019-11-07 12:04] pistacchio opened #162 "The website is down"
**Describe the bug**
http://react-hooks.org is not reachable. This whole package has currently no documentation

**To Reproduce**
Navigate to http://react-hooks.org

[2019-11-15 11:02] imbhargav5 commented on #162
@pistacchio Seems like it was an issue in domain renewal. It was autofixed :) Thank you!

[2019-11-15 11:02] #162 closed

[2019-11-18 01:27] mscottmoore opened #165 "`useTimeout` documentation is missing returned object key `isActive`"
**Describe the bug**
The documentation for `useTimeout` is missing documentation for the returned object key `isActive`. It only documents the returned object keys `clear` and `start`

**To Reproduce**
Go to https://react-hooks.org/?path=/story/usetimeout--basic-example and open the "Docs" tab.

**Expected behavior**
The returned object keys table should have a row documenting `isActive`

[2019-11-18 03:49] imbhargav5 commented on #165
Ah you are right. Would you like to submit a PR? 🙂

[2019-11-26 08:48] #165 closed

[2019-11-30 16:52] imbhargav5 opened #171 "Rename all variables named `when`"
This is a name refactor request. Hooks like `use-outside-click` etc use a variable name called `when`. I think we should rename it to `isEnabled` and update that in the docs, readmes and storybook.

[2019-11-30 16:58] imbhargav5 opened #172 "Greetings on first PR github action is failing."
**Describe the bug**
The github action which sends a message on first PR submission from a user is failing.

[2019-12-03 13:41] aappddeevv opened #174 "use*Storage does not provide type support"
**Is your feature request related to a problem? Please describe.**
Presumably to allow any key/object combination, use*Storage does not take a type parameter.

**Describe the solution you'd like**
Export interfaces so we can at least type the hook more easily, `use*Storage(...) as StorageHandler<MyObject>` or allow the type of object to be stored to be specified e.g. `use*Storage<MyObject>(...)`.

[2019-12-04 16:41] imbhargav5 opened #177 "Remove travis CI integration"
**Is your feature request related to a problem? Please describe.**
We no longer need it. Since we are using github for CI and also have status badges.

**Describe the solution you'd like**
Remove all travis config from the repo.

[2019-12-04 16:44] imbhargav5 opened #179 "Integrate lerna-changelog"
**Is your feature request related to a problem? Please describe.**
We are using a monorepo with lerna. Having a centralised changelog which is autogenerated is helpful.

**Describe the solution you'd like**
Configure https://github.com/lerna/lerna-changelog with the project.

[2019-12-04 20:41] imbhargav5 commented on #174
Hi @aappddeevv I am not familiar with interfaces as much. Would you like to submit a PR?

[2019-12-12 17:31] nikeeshi opened #185 "Add type guard function to 3rd argument of useLocalstorage"
**Is your feature request related to a problem? Please describe.**
I am afraid that there might be garbage data in local storage. I want to make sure the first return value of useLocalstorage has correct type.

**Describe the solution you'd like**
The suggestion is adding third argument like this. This is like typescript definition.
`useLocalstorage<T>(key: string, defaultValue?: T, canAccept?: (o

[2020-01-09 21:54] IllusionMH opened #199 "mousedown support for use-outside-click(-ref)"
**Is your feature request related to a problem? Please describe.**
We are using D'n'D list with ability to modify elements right in the list using double click. Click on Cancel or outside of item. However when item is in edit mode can press left mouse button on any other item in list, drag it and item in edit mode won't be converted to view mode.

**Describe the solution you'd like**
Currently the

[2020-01-10 06:46] imbhargav5 commented on #199
Let’s try 2? Feel free to send a PR!

[2020-01-23 06:15] maciekgrzybek commented on #199
Is anyone working on this one? If not I can give it a go :)

[2020-01-23 09:30] IllusionMH commented on #199
Sorry for slow progress here. I faced problem with handling cases when third argument changed between renders.
Not clear if it should be ignored or event listeners updated.

@maciekgrzybek I think I would be able to continue work this weekend, however if you need this earlier or has own ideas for implementation - just ping me so we won't do same twice. Thanks.

[2020-01-28 13:47] maciekgrzybek commented on #199
@IllusionMH no problem mate :) I just thought that no one is working on this one :)

[2020-01-28 13:51] IllusionMH commented on #199
@maciekgrzybek submitted the PR, but need to move tests to PR

[2020-01-30 16:00] imbhargav5 commented on #199
Hey I will be back in a week or so. Getting married this week. 🙏

[2020-01-30 16:03] IllusionMH commented on #199
WOW! Congratulations! 🎉  Have a great time.

I'll try to add new StoryBook examples then.

[2020-02-11 18:24] #144 closed

[2020-02-26 11:05] ketewan opened #207 "IE11 support"
Thanks for developing this library!

**Describe the bug**
I tried to use useMutationObserver, it worked great everywhere except for IE11, where it produces syntax error. I also tried to open the storybook (https://stories.react-hooks.org/) in IE11, and it has similar issue. If I just copy the code of the hook to my project, it works without any problems on IE11 too, so I guess it's a build issue.

[2020-03-06 06:48] imbhargav5 commented on #207
I see. It's probably because IE11 doesn't support mutation observer. I am not sure to be honest.

[2020-03-10 03:42] chrismilson opened #211 "Use react-hooks-testing-library for testing"
**Is your feature request related to a problem? Please describe.**
Im frustrated when I read the tests that have a roundabout way to test interaction with a hook.

For example:
- In the test for usePrevious hook, there is a click handler that updates the value on the state of a dummy object. There is no indication from the test what the click will do to the hook.

- In the tests for useCounter, a

[2020-03-11 00:45] chrismilson opened #212 "Remove unnecessary hooks from navigator-language hook"
**The problem**
The useNavigatorLanguage hook uses state and effect hooks that cause unnecessary updates to a component.

**Possible solutions**
Retrieving the readonly property language from the navigator is not computationally intensive; just return the value as it is.

We could also just wrap the value in a closure and store it locally if navigator.language is too slow (it probably isn't).

**O

[2020-03-11 01:46] chrismilson opened #213 "Previous hook bug"
**Describe the bug**
The previous hook takes a target and is supposed to return the previous value of the target. Currently it returns the value of the target on the previous render.

**To Reproduce**
Use the hook in a component that will update without changing the target value to get the previous of.

**Expected behavior**
The previous value should only change if the current value has changed.

[2020-03-14 14:11] ketewan commented on #207
@imbhargav5, mutation observer is supported by IE11 https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver

[2020-03-19 16:45] imbhargav5 commented on #212
@chrismilson Thanks for creating an issue! Yes please feel free to submit a PR!

[2020-03-19 16:46] imbhargav5 commented on #211
@chrismilson Sounds good! Let's do that!

[2020-03-23 06:16] chrismilson commented on #213
The [react-hooks-use-previous](https://www.npmjs.com/package/react-hooks-use-previous) package does not have this bug. Perhaps users should be sent to this package instead.

[2020-04-23 16:18] imcuttle opened #227 "[useInterval] Why not depends to callback?"
https://github.com/imbhargav5/rooks/blob/1cfdcc9d6708d7d12098f370411cc688ac16d604/packages/shared/useInterval.ts#L63-L65

`callback` will do not latest when it's updated

[2020-05-19 20:26] sebpiq opened #233 "initialize `useWindowSize` with real values rather than `null`"
When using `useWindowSize` since [it first initializes](https://github.com/imbhargav5/rooks/blob/master/packages/window-size/src/useWindowSize.ts#L25) with `null` values and then gets the real values in a `useEffect`, it means that any component that uses the hook will render at least twice, for no good reason. Is there a good reason for the current implementation?

[2020-05-20 08:27] svenlombaert opened #235 "[useDebounce] Can't find variable Event"
**Describe the bug**
When I use the `useDebounce` hook on react-native, an error is thrown. `Can't find variable Event`

**Expected behavior**
I would think this hook would work on react-native

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete the following information):**
 - Device: iPho

[2020-06-04 20:51] weotch opened #236 "Use `useEffect` instead of `useLayoutEffect` for raf hook"
**Is your feature request related to a problem? Please describe.**
When SSRing, like with Next.js, the `raf` hook warns:

**Describe the solution you'd like**
No warning message

**Describe alternatives you've considered**
Switching to a different `raf` hook that uses `useEffect`

**Additional context**
This is similar to #86.  If I understand the difference between `useEffect` and `useLayoutEffec

[2020-07-08 16:28] lokeshpathrabe commented on #36
@imbhargav5 I created a custom hook I call useConditionalEffect. This is mostly for replacing the conditional execution of code inside a useEffect callback. Something like below.

[code]
This can be replaced with a custom hook like below.
`useConditionalEffect(() => { .... some code here}, [list, filters], [filters])`
Check the codeSandBox here https://codesandbox.io/s/usememoeffect-pbh4x?file=/sr

[2020-07-08 16:35] imbhargav5 commented on #236
Hi @weotch , but `useEffect` will be more delayed than `useLayoutEffect` wouldn't it? I personally think, components which need to use `useRaf` shouldn't render on the server, since they don't contribute anything on the server side.

[2020-07-08 18:14] weotch commented on #236
I wouldn't _think_ so.  From [the docs](https://reactjs.org/docs/hooks-reference.html#uselayouteffect):

That description reads to me like using `useEffect` would be more appropriate for animations (which I'm assuming is the primary use case of `useRaf`).

[2020-08-22 02:58] porteron opened #250 "IE11 webpack vendor error"
Two npm libraries our project use reference `/@rooks/use-outside-click`.

The webpack build is throwing an error in **IE11**.

**ERROR**:
` Expected ')'`

<img width="1101" alt="Screen Shot 2020-08-21 at 7 55 34 PM" src="https://user-images.githubusercontent.com/16027973/90947132-4b17f300-e3e8-11ea-8dfc-51a07f35b853.png">

[2020-10-01 14:16] imbhargav5 commented on #236
Got it. Will do. Sorry I got back so late. Will do this change.

[2020-10-01 14:20] imbhargav5 commented on #250
Hi @mnoster , I am not really sure what the cause of this error is though. The hook is pretty simple and perhaps the way webpack is building it, might be an issue?

[2020-10-05 05:45] imbhargav5 commented on #236
Fixed.

[2020-10-05 05:45] #236 closed

[2020-10-21 05:09] gpoole opened #260 "[useFullscreen] useFullscreen is not SSR-friendly"
**Describe the bug**
`useFullscreen` directly accesses `document` so can't be used with server-side rendering. Errors produced are e.g.

[code]

**To Reproduce**
Use SSR with a component that calls `useFullscreen`:

[code]

**Expected behavior**
`useFullscreen` should probably do a 2-pass render, with the first pass (server-side render and browser initial render) having fullscreen support off and

[2020-10-22 13:44] victorcfernandes commented on #250
Hi @imbhargav5 I had the same issue with useLocalstorage. Exactly the same error as above

[2020-10-23 08:33] imbhargav5 commented on #250
Any idea what the error could be? I am actually lost 😅

[2020-10-29 08:56] #10 closed

[2020-10-29 20:25] maciekgrzybek commented on #260
I'll take a look at this one tomorrow

[2020-11-02 13:33] imbhargav5 opened #271 "Add algolia search to Docusaurus"

[2020-11-02 13:34] imbhargav5 opened #272 "Create a new logo pack"
- favicon
- navbar short logo
- large logo for GitHub

[2020-11-12 20:38] danielholmes opened #278 "useFullscreen becomes out of step with state when exiting using "ESC" key"
**Describe the bug**
I've been testing on Google Chrome. When you enter full screen by calling `request`, you see a message saying you can exit full screen by pressing `ESC`. If you do press `ESC` then the `isFullscreen` state returned by `useFullscreen` is still `true`.

**To Reproduce**

See https://github.com/danielholmes/rooks-fullscreen-issue for an illustration of the error.

1. Set up `useF

[2020-11-13 08:03] AdrienLemaire opened #279 "useKeys wrong type"
**Describe the bug**
The hook type does not match the function definition.
Definition:
[code]
Type
[code]

![](https://i.imgur.com/K6vUfJM.png)

using @rooks/use-keys@3.6.0

[2020-11-13 08:12] AdrienLemaire commented on #279
React also breaks with error `Too many re-renders` when trying to use useKeys. I do not have this problem with useKey.

[code]
I thought it might be because of `when: true`, but removing the options still throws the same error.

[2020-11-17 17:12] imbhargav5 commented on #279
Hmm looks like `useKeys` is having a few. I am doing a major refactor right now. Will be releasing v4 with fixes this month.

[2020-11-18 04:59] imbhargav5 opened #281 "Add beautiful JSDocs for all current hooks."
Some of our current hooks are missing proper JSDoc comments which make Intellisense not work while using them.

[2020-11-18 05:25] imbhargav5 opened #282 "Update homepage here to point to the hooks documentation page"
![Screenshot 2020-11-18 at 10 54 25 AM](https://user-images.githubusercontent.com/2936644/99487520-8fd20c80-298c-11eb-9639-f9c6684a2b60.png)

For eg: in the image above, the home page is pointing to stories.stuff. We should point it to https://react-hooks.org/docs/use-mutation-observer.

We need to edit the package.json of all hooks in the same way to get this done.

[2020-11-18 05:28] imbhargav5 opened #283 "Add code sandboxes for all hooks"
We need to create an Examples.md file similar to what we already did for use-did-mount package and add code sandbox examples to it.

[2020-11-18 10:34] #177 closed

[2020-11-18 10:35] imbhargav5 commented on #278
@danielholmes Will fix this before I release v4 in a few days. Currently working non stop on rooks.

[2020-11-18 13:13] simbathesailor commented on #278
@imbhargav5 : I tried to fix the issue in this codesadnbox https://codesandbox.io/s/wizardly-star-m92ky?file=/src/App.js. Let me know if it's is acceptable. I will raise the pr for this issue.

[2020-11-18 18:56] calthejuggler commented on #282
So, I changed it, but I'm not sure if I made the pull request right! Hope it helps 😋 #284

[2020-11-21 01:31] imbhargav5 opened #290 "Move tests into shared folder"

[2020-11-23 10:37] jorisw commented on #282
It would help if you did the same for the GitHub link actually. Linking to the monorepo confused me into thinking I followed the wrong link.

[2020-11-23 14:10] imbhargav5 commented on #282
For sure. I am going to open an issue for the same. Please consider sending a PR if that's not too much trouble. Have a lot lined up to publish this week for v4.

[2020-11-23 14:10] imbhargav5 opened #297 "Fix GitHub links in packages. They are showing up incorrectly in npm."

[2020-11-23 14:12] #290 closed

[2020-11-24 06:21] imbhargav5 opened #299 "Add a banner image for all packages"

[2020-11-24 06:45] imbhargav5 commented on #235
Fixed today.

[2020-11-24 06:45] #235 closed

[2020-11-24 15:49] imbhargav5 opened #303 "Upgrade to yarn v2"
We are currently using yarn v1. Moving to yarn v2 might be painful but is worth a ton!

[2020-11-25 01:02] #211 closed

[2020-11-25 01:02] #271 closed

[2020-11-25 01:02] #272 closed

[2020-11-25 01:02] #282 closed

[2020-11-25 01:02] #297 closed

[2020-11-25 01:02] #299 closed

[2020-11-25 01:03] #88 closed

[2020-11-25 01:03] #89 closed

[2020-11-25 01:03] #93 closed

[2020-11-25 01:03] #118 closed

[2020-11-25 01:03] #129 closed

[2020-11-25 01:03] #145 closed

[2020-11-25 01:03] #148 closed

[2020-11-25 01:03] #171 closed

[2020-11-25 01:03] #174 closed

[2020-11-25 01:03] #179 closed

[2020-11-25 01:03] #185 closed

[2020-11-25 01:03] #199 closed

[2020-11-25 01:03] #49 closed

[2020-11-27 02:20] imbhargav5 opened #312 "Algolia search is currently not configured well"
There is some work going on in docusaurus repo. Once that is fixed we need to configure algolia well.

https://github.com/facebook/docusaurus/issues/3826

[2020-11-27 03:21] imbhargav5 opened #313 "Show contributors in home page"
- We basically need to populate a file called contributors.md or something like that at /packages/docusaurus/docs/contributors.md and use it in our homepage.
- Update the file in our PR release workflow

[2020-11-27 09:12] slorber commented on #312
Hi,

For what it's worth we just had a regression on master, but the latest release does not have major search issue normally

[2020-11-27 17:39] imbhargav5 commented on #312
@slorber

Actually I faced the same issue on my end even in the previous version. I think it was v67 .
Contextual search + facetFilters never quite worked well for me. I was able to view my search results well in the Docsearch playground but somehow docusaurus was returning empty results until I did this today. https://github.com/imbhargav5/rooks/pull/311/files
I don't know if my config here is an

[2020-11-27 18:18] slorber commented on #312
Hi,

Contextual search = computing facet filters dynamically.

The upcoming release (than you can try using the `@canary` new tag) will have the ability to "merge" the user-provided facets with the dynamically computed facet  (https://github.com/facebook/docusaurus/pull/3804)

However `'facetFilters': ["type:$TYPE"]` looks bad to me. You can't use `$TYPE`, you have to use your real facet value her

[2020-11-28 06:07] imbhargav5 commented on #312
Will try this.

[2020-12-11 17:31] Avi98 commented on #313
Hi @imbhargav5 can I work on this

[2020-12-11 18:31] imbhargav5 commented on #313
For sure!

[2020-12-12 17:07] Avi98 commented on #313
Hi @imbhargav5  do you want me to maintain a hardcoded file called contributor.md or to write a script using that extracts the contributors from .all-contributorsrc.

[2020-12-13 04:02] imbhargav5 commented on #313
So we need to generate a contributors.md inside the docusaurus package using all contributors cli within our script.

We can use the same script to update our readme.

[2020-12-14 06:18] imbhargav5 commented on #36
@lokeshpathrabe Sorry man. I completely missed this. But a useEffect already runs when something changes doesn't it?

[2020-12-16 06:57] lokeshpathrabe commented on #36
@imbhargav5 Yes you are correct. But useEffect uses simple equality checks for dependencies. When your dependencies are objects, useEffect will do object reference check there. This fails when reference changes but the object is basically the same. Causing effect to execute unnecessarily.

[2020-12-21 11:44] rfgamaral commented on #36
Media queries? Breakpoints? Stuff like that... For inspiration: https://github.com/contra/react-responsive

[2020-12-21 18:15] imbhargav5 commented on #36
For sure. I have been thinking about this one. Will do something like this
soon.

On Mon, 21 Dec 2020 at 5:14 PM, Ricardo Amaral <notifications@github.com>
wrote:

[2020-12-22 20:24] rfgamaral opened #331 "[useIntersectionObserverRef] Double trigger or am I doing something wrong?"
I'm trying to use `useIntersectionObserverRef` to detect when an element with `overflow-y: scroll` reaches the top/bottom and I have managed to do so but I'm observing an unexpected behavior. I'm not sure if I'm doing something wrong but there's a working demo with 2 implementations: https://codesandbox.io/s/quizzical-smoke-djqbu

The default one uses `@rooks/use-intersection-observer-ref` and the

[2020-12-23 08:49] imbhargav5 commented on #331
Hey @rfgamaral,

At first glance, this looks like a bug. Will take a look!

[2021-01-24 16:39] maciekgrzybek commented on #331
I'm not entirely sure if I'm right but I think it's not a bug, in two different callbacks you're changing two different pieces of state (`isTopOverflowing` and `isBottomOverflowing`). This means if one of them will change it will re-render the components, hence double logging. If you want to track just one of them, use `useEffect` with the desired state as a dependency:
`useEffect(() => {
  // do

[2021-01-24 17:34] maciekgrzybek commented on #260
A little bit later... but PR -> https://github.com/imbhargav5/rooks/pull/344  @imbhargav5

[2021-01-24 17:38] maciekgrzybek opened #345 "Adding prettier"
What are your thoughts on adding `prettier` to the project? Would be a nice DX improvement.

[2021-01-24 18:08] imbhargav5 commented on #345
Sure, we can!

[2021-01-24 19:54] rfgamaral commented on #331
I'm so sorry, but I'm not using this hook anymore, I just wanted to report what _I thought_ was a bug. If it's not, let's close it :)

[2021-01-24 19:54] #331 closed

[2021-01-24 19:57] maciekgrzybek commented on #331
It's perfectly fine mate :) thanks for taking your time to report this :)

[2021-01-25 08:08] maciekgrzybek commented on #303
I can try :)

[2021-01-25 08:09] maciekgrzybek commented on #345
Awesome, I'll try to add it (I'll tackle yarn upgrade first, so don't assign me yet in case anyone else wants to do it)

[2021-01-26 15:54] imbhargav5 opened #347 "Fullscreen hook needs to be fixed."
#344
#346

Need to merge both PRs and test properly.

[2021-01-27 13:03] imbhargav5 opened #351 "Update contributors"

[2021-01-27 13:03] imbhargav5 commented on #351
@all-contributors please add @Armanio for code.

[2021-01-27 13:04] imbhargav5 commented on #351
@all-contributors please add @weschristiansen for code.

[2021-01-27 13:04] imbhargav5 commented on #351
@all-contributors please add @danielholmes for code.

[2021-01-27 13:04] imbhargav5 commented on #351
@all-contributors please add @calthejuggler for code.

[2021-01-27 13:21] imbhargav5 commented on #351
@all-contributors please add @Armanio for code.

[2021-01-27 13:25] imbhargav5 commented on #351
@all-contributors please add @calthejuggler for code.

[2021-01-27 13:28] imbhargav5 commented on #351
@all-contributors please add @@danielholmes for code

[2021-01-27 13:29] imbhargav5 commented on #351
@all-contributors please add @weschristiansen for code

[2021-01-27 13:31] imbhargav5 commented on #351
@all-contributors please add @danielholmes for code.

[2021-01-27 17:19] zamarawka commented on #278
@imbhargav5 any updates on this issue?? I faced with it on 4.7

[2021-01-27 17:26] imbhargav5 commented on #278
@zamarawka My immediate priority is full screen hook. Will fix it this week. Thanks for your patience.

[2021-01-28 10:22] imbhargav5 commented on #278
Add a patch similar to this today @zamarawka and @danielholmes

[2021-01-28 14:18] imbhargav5 commented on #347
#344 Fixes this

[2021-01-28 14:18] imbhargav5 commented on #278
#344 fixes this.

[2021-01-28 14:18] imbhargav5 commented on #260
#344 fixes this.

[2021-01-28 14:18] #260 closed

[2021-01-28 14:20] #347 closed

[2021-01-28 15:03] imbhargav5 commented on #278
v4.8 is out. And fullscreen hook works well now. @danielholmes

Here is a sandbox you can try https://codesandbox.io/s/immutable-wave-m87bx?file=/src/App.js

[2021-01-28 15:03] #278 closed

[2021-01-28 15:04] imbhargav5 commented on #233
Hi @sebpiq This issue was fixed recently. Sorry I took ages to get to this one.

[2021-01-28 15:04] #233 closed

[2021-01-28 15:04] #351 closed

[2021-01-28 15:05] #23 closed

[2021-01-28 15:05] #26 closed

[2021-01-28 15:05] #30 closed

[2021-01-28 15:05] #250 closed

[2021-01-28 15:05] #281 closed

[2021-01-29 06:17] #213 closed

[2021-01-31 04:32] imbhargav5 opened #365 "Create use-in-view-ref hook"
Let's create a simple hook like `useInViewRef` using intersection observer. Some API examples should already be there. We can do something like.

[code]

What do you think? @maciekgrzybek

[2021-01-31 08:47] maciekgrzybek commented on #365
Yeah I'm happy to do it, I did something similar for svelte https://www.npmjs.com/package/svelte-inview

[2021-02-03 09:03] zamarawka opened #367 "useFullscreen toggle function is buggy"
**Describe the bug**
At last update of useFullscreen hook (4.8 version) "toggle" function not work as before. In `isFullscreen === true` state it doesn't exit from fullscreen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to sandbox
2. Click on "Fullscreen" button
3. Await fullscreen open
4. Click on "Fullscreen" button again
5. Nothing change -> unexpected behaviour

**Expected behavio

[2021-02-03 11:45] maciekgrzybek commented on #303
Hey, @imbhargav5 I've tried to figure this ticket out, but no luck. I think I'd need more understanding of the project to do it :( sorry :(

[2021-02-03 12:15] imbhargav5 commented on #367
You are right @zamarawka ! Looking into this now.

[2021-02-03 12:24] imbhargav5 commented on #367
Just made a fix. Will push if you can confirm it's working well @zamarawka
Please take a look here.
https://q4hpf.csb.app

[2021-02-03 12:30] imbhargav5 commented on #303
Yeah. Don't worry about this for now @maciekgrzybek. This is a very tough task and we can postpone this for v6 or v7.

[2021-02-03 16:34] zamarawka commented on #367
@imbhargav5 yep, it looks like everything alright.
thanks for fast fix!

[2021-02-03 16:44] #367 closed

[2021-02-04 17:11] imbhargav5 commented on #365
@maciekgrzybek Let's focus on this one first. Meanwhile I am trying to make a list of the new hooks to make and will take up one of them.

[2021-02-04 17:21] maciekgrzybek commented on #365
OK cool I'll try to do something this weekend ')

[2021-02-05 18:09] harshilparmar commented on #345
Can I try this !!

[2021-02-05 19:52] maciekgrzybek commented on #345
Sure thing, go for it mate :) let us know if you need any help :)

[2021-02-09 21:01] maciekgrzybek commented on #365
Ok I got the hook I just need to make sure it all works fine. Can you tell me what's the best to test new hooks in this repo?

[2021-02-09 21:01] maciekgrzybek commented on #365
And I mean manual testing, not the automated ones :)

[2021-02-09 21:38] maciekgrzybek commented on #365
PR ready for review @imbhargav5  https://github.com/imbhargav5/rooks/pull/374

[2021-02-11 15:42] #345 closed

[2021-02-11 15:45] maciekgrzybek opened #380 "Setup prettier"
**Is your feature request related to a problem? Please describe.**
We have a `prettier` installed in the project. It would make sense to run it on pre-push hook.

**Describe the solution you'd like**
I feel like we should use husky to handle the hook and run prettier before the push.

**Describe alternatives you've considered**
Run prettier in the pipelines. Although I think it would be better to

[2021-02-11 15:46] maciekgrzybek commented on #207
@imbhargav5 not sure what's your thoughts on this, but I'm a massive advocate of stop supporting IE11 :)

[2021-02-11 15:47] imbhargav5 commented on #207
Yeah I think at this point even Microsoft doesn't care about IE anymore.

[2021-02-14 13:10] #380 closed

[2021-02-16 00:53] phaux opened #386 "[use-navigator-language] listen to languagechange event"
**Is your feature request related to a problem? Please describe.**
I looked at the source code of that hook and it doesn't listen to language change.

**Describe the solution you'd like**
Listen to language change.

**Describe alternatives you've considered**
I wrote my own hook.

[code]

**Additional context**
I know that this event never actually fires unless you go to browser language settings

[2021-02-16 06:25] maciekgrzybek commented on #386
Hey that's a really great idea :) would you like to implement it in the library?

[2021-02-16 20:54] phaux commented on #386
Sure. I will do that when I find the time

[2021-02-17 14:04] imbhargav5 commented on #386
[code]

Everything from @phaux looks good. I think we should just check if navigator exists in the useState initialiser like so. What do you think @maciekgrzybek ?

[2021-02-18 05:16] maciekgrzybek commented on #386
Yep that looks good :)

[2021-02-18 15:42] imbhargav5 commented on #386
Just created a PR @phaux. Please let me know what you think!

[2021-02-20 12:11] phaux commented on #386
@imbhargav5 Looks good, thanks!

[2021-02-20 12:11] #386 closed

[2021-03-29 06:32] AdrienLemaire opened #404 "fullscreen doesn't work anymore"
**Describe the bug**
calling `request()` doesn't set the screen fullscreen anymore, when it did before.

**Additional context**
While debugging the code, it seems like `document.requestFullscreen` doesn't exist anymore on latest Chrome versions (currently on v89).
Executing `document.body.requestFullscreen()` does work though. Is chrome expecting an Element instead of a document now ?

[2021-03-29 18:01] imbhargav5 commented on #404
Wow. No idea how this happened. 😮 cc @simbathesailor

[2021-03-29 19:25] simbathesailor commented on #404
Hmm I will have a look at it tomorrow

[2021-03-30 00:58] AdrienLemaire commented on #404
@imbhargav5 @simbathesailor actually, requestFullscreen has never been supported on document.
When looking at the last file diff, I noticed that you removed the default to request(). You used to pass `document.documentElement` if no element was specified

https://github.com/imbhargav5/rooks/commit/8798d55bc56308f7b3231b55cc210a49483faccc#diff-d57af082ea7e8bc8e6a5c48e35dc45d784299bf8715e1ce2ee43db1

[2021-03-30 03:38] simbathesailor commented on #404
@AdrienLemaire : You are right. Earlier this statement was making it work:

[code]

Would you like to raise a pr with the fix ?.

[2021-03-30 12:48] mrvisser commented on #36
@rfgamaral @imbhargav5 PR is available for media queries: https://github.com/imbhargav5/rooks/pull/409

[2021-03-30 13:24] thodubois opened #410 "useFullscreen : isEnabled is not relevant"
**Describe the bug**
In the useFullscreen hook, the `isEnabled` property is defined with `Boolean(element)`. But `element` is defined by the document property `fullscreenElement`, which is null if fullscreen is not open.

So `isEnabled` is `false` by default as describe in this documentation : https://developer.mozilla.org/en-US/docs/Web/API/Fullscreen_API/Guide#other_information

**To Reproduce**

[2021-03-31 08:22] #404 closed

[2021-03-31 09:44] AdrienLemaire commented on #404
Thank you!

[2021-04-08 09:35] #410 closed

[2021-04-20 06:17] imbhargav5 opened #422 "Add a message to all hook package readme"
**Is your feature request related to a problem? Please describe.**
We want to move towards a more standardised approach and only publish `rooks` and not the internal packages independently going forward because we are facing issues with managing a central changelog.

**Describe the solution you'd like**
Add a message to all readme files of hooks (for eg `packages/timeout/Readme.md`, ... etc) and a

[2021-04-20 06:59] imbhargav5 opened #423 "Deprecate useTimeAgo"
Remove time ago package and it's reference in rooks/src

[2021-04-20 07:00] imbhargav5 opened #424 "Deprecate useWorker"
Remove useWorker from packages and remove reference from packages/rooks/src

[2021-04-20 07:01] imbhargav5 opened #425 "Make all packages except `rooks` private"

[2021-04-20 07:03] imbhargav5 opened #426 "Generate camel case names in sidebar"
![Screenshot 2021-04-20 at 12 32 52 PM](https://user-images.githubusercontent.com/2936644/115352057-89aeb900-a1d4-11eb-82cc-a308c232152a.png)

Reference page. https://react-hooks.org/docs/

So instead of `use-window-size`, we want to show `useWindowSize`

[2021-04-20 07:05] imbhargav5 opened #427 "Change urls in docusaurus to be camelcase"
THEN: https://react-hooks.org/docs/use-boundingclientrect

What we want : https://react-hooks.org/docs/useBoundingclientrect
Also: `https://react-hooks.org/docs/use-boundingclientrect` redirects to `https://react-hooks.org/docs/useBoundingclientrect`

[2021-04-20 07:05] imbhargav5 opened #428 "Show hooks list in camelcase"
https://react-hooks.org/docs/hooks-list

[2021-04-20 07:07] imbhargav5 opened #429 "useDebouncedValue hook"
Create a hook that debounces changes to a value for a few ms.

`const debouncedValue = useDebouncedValue(value, 200);`

[2021-04-20 07:17] imbhargav5 opened #430 "Resolve open dependency PRs"
Some PRs have been open for a long time like these one here.
![Screenshot 2021-04-20 at 12 47 20 PM](https://user-images.githubusercontent.com/2936644/115353789-8ddbd600-a1d6-11eb-8571-d7db34fa6b87.png)

Merge them if possible and close them if they are outdated or if they break builds.

[2021-04-20 07:19] imbhargav5 opened #431 "Add 3 examples for all hooks"
We need to add 3 codesandbox examples for all of hooks to make it really easy for developers to start using them. If an code sandbox embed is added to `packages/hook/Examples.md` then they get deployed onto react-hooks.org.

Refer `use-did-mount` Examples.md for reference.

[2021-04-20 07:21] imbhargav5 opened #432 "Switch to esbuild"

[2021-04-20 07:22] imbhargav5 opened #433 "Get rid of Lerna"
We don't need Lerna anymore.

[2021-04-20 07:24] imbhargav5 opened #434 "Remove Greeting GitHub action"
The action fails far too often.

[2021-04-20 13:35] imbhargav5 opened #435 "Add commitzen"
Configure conventional commits.

[2021-04-20 14:11] maciekgrzybek commented on #435
I'm using this at work, I'll take a look 👌

[2021-04-20 14:11] #435 closed

[2021-04-20 14:12] #434 closed

[2021-04-20 15:49] imbhargav5 opened #437 "Maintain changeling"

[2021-04-20 16:16] imbhargav5 commented on #435
Hey I might have already finished adding it. Check the branch named 'main'

[2021-04-20 18:42] maciekgrzybek commented on #428
Is the `list-of-hooks.md` auto generated?

[2021-04-21 12:22] #432 closed

[2021-04-21 12:22] #433 closed

[2021-04-21 12:22] #437 closed

[2021-04-21 12:22] #425 closed

[2021-04-21 12:23] #423 closed

[2021-04-21 12:23] #424 closed

[2021-04-21 14:32] imbhargav5 opened #440 "Uncomment "import/no-extraneous-dependencies" in eslint-config package and fix lint issues"
currently our monorepo structure makes eslint throw errors on `shared` packages thinking of them as external packages.

This issue should be fixed after this PR is resolved. https://github.com/benmosher/eslint-plugin-import/issues/1174

[2021-04-23 04:43] imbhargav5 commented on #428
Yes 👍

[2021-04-25 08:01] imbhargav5 commented on #428
@maciekgrzybek Hopefully you didn't make any progress on this, because I made a ton of changes in a different branch and I can wrap this up in the next two minutes.

[2021-04-25 08:21] maciekgrzybek commented on #428
Yep, do it mate :)

[2021-04-27 03:07] gpoole opened #449 "useFullscreen: Module not found: Can't resolve 'tslib'"
**Describe the bug**
Installing @rooks/use-fullscreen and importing into my Next.js app causes the following compile error:

[code]

I can see that `index.esm.js` is importing `tslib`:

[code]

But `tslib` is not a dependency of @rooks/use-fullscreen.

Installing `tslib` manually in my project fixes the problem.

[2021-04-27 16:22] jfrancos opened #450 "Invalid hook call with useRaf + snowpack"
Thanks for a great system of hooks utilities!

**Describe the bug**
I'm using [snowpack](https://www.snowpack.dev/).  `useInterval` and `useTimeout` work as expected, but with `useRaf` I get the error:

etc.

For the sake of experiment, I tried using useRaf with CRA, and did not have any issue.  So it seems to be specific to useRaf + snowpack.

**To Reproduce**
Steps to reproduce the behavior:
`np

[2021-04-30 09:12] imbhargav5 commented on #450
Hmm, is it possible that you have two different versions of react installed? This bug definitely shows up in that case but not sure if that is the cause here.

[2021-04-30 09:13] imbhargav5 commented on #449
Interesting. Thanks! @gpoole  Will take a look.

[2021-05-01 18:51] #426 closed

[2021-05-01 18:51] #427 closed

[2021-05-01 18:51] #428 closed

[2021-05-01 18:51] #422 closed

[2021-05-02 07:05] #430 closed

[2021-05-02 07:06] #66 closed

[2021-05-02 07:06] #172 closed

[2021-05-02 07:06] #207 closed

[2021-05-03 08:26] imbhargav5 commented on #450
@jfrancos can you try this with rooks v5 and let me know? So instead of shipping individual packages it's just a single package from now on just to get rid of the enormous bottlenecks with lerna and yarn workspaces and also have semantic release + changelog + docs.

[2021-05-03 08:28] imbhargav5 opened #470 "Add redirect from old links to new camelcase links"
**Describe the bug**
Our old links eg `https://react-hooks.org/docs/use-did-mount` will no longer work since we are now using links with the hook names directly to avoid confusion. `https://react-hooks.org/docs/useDidMount`.

Let's add docusaurus redirects to make sure people using the older v4 individual hooks continue to see the docs.

[2021-05-05 07:08] imbhargav5 opened #472 "Remove specific hook installation instruction here"
![Screenshot 2021-05-05 at 12 35 23 PM](https://user-images.githubusercontent.com/2936644/117107156-c1099200-ad9e-11eb-8140-2fccc436b944.png)

[2021-05-05 07:12] imbhargav5 opened #473 "New hook request : useKeyBindings"
Let's create a new hook that looks like this.

[code]
So basically this is a multi version of `useKey` but also has a better structure.

Source : Found inspiration for this on http://joshwcomeau.com/

Please read docs for contributing here if you are new 😄 https://github.com/imbhargav5/rooks/blob/main/CONTRIBUTING.md

[2021-05-05 07:17] harshilparmar commented on #472
I am on it !!

[2021-05-05 07:29] imbhargav5 commented on #472
Thanks @harshilparmar 🚀 !!

[2021-05-05 07:30] imbhargav5 commented on #449
@gpoole Do you see this issue with `v5`? In v5 we are just using a single package `rooks` and we solved a few issues around types etc. Please check if this issue was resolved. Else we will attempt a new PR fix.

[2021-05-05 10:12] harshilparmar commented on #473
I would like to work on this one !!
(question) : As I understand this, here We have to make a hook that takes multiple event handlers at once right?

[2021-05-05 14:41] imbhargav5 commented on #473
Yep that's right @harshilparmar . This should be a great exercise for you. Take it up! 🚀

[2021-05-06 13:37] harshilparmar commented on #473
@imbhargav5 Can you please tell me how to create a new hook setup. I have tried `yarn new` but it's not working!!

[2021-05-06 15:47] imbhargav5 commented on #473
@harshilparmar Can you send a loom of this issue? You can make a short clip using http://loom.com.

[2021-05-07 07:50] harshilparmar commented on #473
I have tried loom but it's taking too much time to play
attaching a snapshot of this behavior.
![image](https://user-images.githubusercontent.com/45915468/117416051-9ce0b900-af36-11eb-809c-7ff2292351cc.png)

[2021-05-07 22:39] imbhargav5 commented on #473
Oh wait, looks like you are not in the `main` branch. You seem to be in `master`

[2021-05-07 22:39] imbhargav5 commented on #473
@harshilparmar

[2021-05-07 23:47] gpoole commented on #449
Yes this is fixed in v5, thanks @imbhargav5. I should have specified in the original report but the problem I had was with 4.11.0 but still a problem in 4.11.2.

I think it could be helpful for existing users to npm-deprecate the v4 separate packages? I only realised v5 was out when you asked me to check it and I couldn't install it with `npm i @rooks/use-fullscreen@latest` so I had a look on the

[2021-05-08 11:17] #472 closed

[2021-05-08 11:18] #22 closed

[2021-05-08 22:48] gpoole commented on #449
That makes sense, thanks @imbhargav5

[2021-05-09 15:03] harshilparmar commented on #473
@imbhargav5 Hey can you  please guide me here
My approach for this is
1. Take arguments array
2. loop through that array for further process

[2021-05-09 15:53] imbhargav5 commented on #473
Yep that is correct @harshilparmar

[2021-05-11 19:21] harshilparmar commented on #473
@imbhargav5 Can you please assign this to someone else It is taking much time for me to figuring out this 😅

[2021-05-12 06:48] maciekgrzybek opened #482 "Pass array of elements to useOutsideClick"
**Is your feature request related to a problem? Please describe.**
I had to use `useOutsideClick` hook equivalent at work, but I had to pass more than one element as an argument. I came up with a nice solution where you can either pass an element or array of elements. I will gladly at this to our hook. Thoughts?

**Describe the solution you'd like**
Ability to pass an array of elements. Non-breaki

[2021-05-12 06:52] imbhargav5 commented on #482
Oh this seems like an edge case. Wouldn't it be simpler if we just it twice?

[code]

[2021-05-12 07:05] maciekgrzybek commented on #482
No, that doesn't work unfortunately as the two of them are not aware of each other.

[2021-05-12 08:01] imbhargav5 commented on #482
Oh? 🤔 Would you mind doing a quick code sandbox reproduction? I didn't understand the issue buddy @maciekgrzybek

[2021-05-12 09:30] maciekgrzybek commented on #482
Yeah sure thing, I'll create something later :)

[2021-05-19 00:49] allan2 opened #492 "useWindowSize SSR compatibility"
`useWindowSize` doesn't work with SSR. For example, it won't work with Next.js.
The window size is undefined on the server so there will be a warning like:

[code]

Suggestion:
 - The hook should check if `window` is `undefined`.

[2021-05-19 07:02] imbhargav5 commented on #492
Hi @allan2 , pretty sure we are already doing that.
https://github.com/imbhargav5/rooks/blob/main/src/hooks/useWindowSize.ts#L35

[2021-05-19 13:03] allan2 commented on #492
[Here are some MWEs on this](https://github.com/allan2/window-hook-examples-for-ssr).

Example 1 is the rooks `useWindowSize` hook.
If you open the page on the dev server, you'll see the hydration error I'm talking about.

I opened #493 with my fix (also in Example 5). It actually removes the check if window is undefined.

I'm still not sure why it only shows up in the dev server.

[2021-05-19 15:08] imbhargav5 commented on #492
Hi @allan2 can you help me with a code sandbox ? You can host your project on a code sandbox and I will come up with a fix if there is a bug.

[2021-05-19 15:53] allan2 commented on #492
@imbhargav5

https://35k2z.sse.codesandbox.io/

This is a a clone of [my MWE repo](https://github.com/allan2/window-hook-examples-for-ssr).

[2021-05-20 12:35] equinusocio commented on #492
I have the same issue with `useWindowScroll`. It seems that the window check is missing inside this hook,

[2021-05-21 13:06] allan2 commented on #492
[Josh Cormeau wrote an excellent article on this](https://www.joshwcomeau.com/react/the-perils-of-rehydration/#a-noble-but-flawed-attempt).
Taken from the article:

**A noble but flawed attempt**
In the shared code snippet, we attempt to solve for this problem in the first few lines:

[code]

The idea here is sound: Our initial compile-time build happens in Node.js, a server runtime. We can detect

[2021-05-21 17:41] imbhargav5 commented on #492
I see. Thanks @allan2 and @equinusocio for this. I will take a closer look tomorrow!

[2021-05-23 15:08] imbhargav5 commented on #492
@allan2 I am confused. The only reason you see the issue is when the window size is greater than 1000. If it's less than 1000, you won't see the warning. Right? Let me know if I am missing something.

[2021-05-23 20:44] allan2 commented on #492
I am looking for correct rehydration on SSR when conditionally rendering on initial page load.

What do you think of the working examples I provided?

[2021-05-24 11:09] imbhargav5 commented on #492
I think the examples in this case make it break. for eg. I just forked your sandbox and removed innerWidth limit condition
and it works.
![Screenshot 2021-05-24 at 4 38 40 PM](https://user-images.githubusercontent.com/2936644/119339176-819fd880-bcae-11eb-86e6-19b9a8fe45d5.png)

https://ltj6l.sse.codesandbox.io/6

[2021-05-24 15:55] allan2 commented on #492
The issue is hydration with conditional rendering. Here, the condition is the window size so we can't remove that.

[2021-05-25 06:31] imbhargav5 commented on #492
Conditional rendering isn't an issue here but using a condition like `1000px` when on the server side we don't know the dimensions of the browser is the problem.

Two pass rendering increases Time To First Paint, which not many people prefer. Having said that you can still add an extra condition on your end.

[code]

[2021-05-25 11:18] allan2 commented on #492
I should've said dynamic rendering.

It can be done without two-pass too. Set it not to not render initially but force the first render during useEffect.

If you disagee and think the current way is not a problem, then I will just close this.

[2021-05-25 11:48] imbhargav5 commented on #492
Yeah I am trying to understand your issue and find a solution as much as possible but the problem with this is that,
a) existing hook can be slightly used differently to solve your case
b) if the hook is changed according to your fix, then a single render on client is not possible anymore

😅

[2021-05-25 14:06] allan2 commented on #492
Doing it once in useEffect is one pass on both client and server, no?

[2021-05-26 15:41] imbhargav5 commented on #492
It is two pass on the client, and one pass on the server because on the initial render it is `null`, then the useEffect updates state and it renders again with the new updated state variable.

[2021-06-03 00:51] AdrienLemaire opened #500 "Missing memoization"
**Describe the bug**
Several hooks are missing useMemo or useCallback and returning new objects/function at every render. This cause issues in effects that have dependencies on these, triggering them when they shouldn't.

**To Reproduce**
Example using **useTimeout**

[code]

I want my effect to be executed only once, and using a timeout of 0 to change the priority of the callback in the execution

[2021-06-04 12:20] jfrancos commented on #450
@imbhargav5 This indeed is no longer an issue now in v5.  Thanks!

[2021-06-04 12:20] #450 closed

[2021-06-11 14:03] imrishabh18 commented on #473
Hey @imbhargav5 ! Can I take up this issue? It would be nice to see how to make a Hook 😃

[2021-06-11 20:44] imbhargav5 commented on #473
a PR is already open I believe . Could you take it close?

On Fri, 11 Jun 2021 at 7:33 PM, Rishabh Gupta ***@***.***>
wrote:

[2021-06-12 08:03] imbhargav5 commented on #473
@imrishabh18 I believe a PR is open but it would be great if you can take it to close. Would appreciate that a lot! https://pop.com/l/add-contact?link=-MbzAzslM-SXHajSQFGT

[2021-06-16 10:15] robations opened #501 "useThrottle example not working"
**Describe the bug**
When typing in the input of the useThrottle example, the "throttle value" remains empty.

I tried adjusting the code example, but wasn't really sure what the expected values were or to find a fix.

Console warning:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://react-hooks.org/docs/usethrottle/#codesandbox-example
2. Type in input "abcdef"
3. Actua

[2021-07-01 05:27] AdrienLemaire opened #505 "Missing fullscreen options"
**Describe the bug**
The fullscreen hook options are missing [navigationUI](https://developer.mozilla.org/en-US/docs/Web/API/FullscreenOptions/navigationUI)
[code]

**Expected behavior**
[FullscreenOptions](https://developer.mozilla.org/en-US/docs/Web/API/FullscreenOptions) should be supported

**Additional context**
<details><summary>not working</summary>

As a temporary workaround, we can cast a

[2021-07-02 11:19] imbhargav5 commented on #501
Hi @robations Apologies for the delay. Was a bit caught up with work. I will get to them this weekend. Thank you!

[2021-07-02 11:20] imbhargav5 commented on #505
Oh. You are right 🔥 Would you like to try a PR? I can do one this weekend if time permits. Thanks man!

[2021-07-02 11:21] imbhargav5 commented on #500
@AdrienLemaire Excellent point. I will address them this weekend.

[2021-07-02 11:21] imbhargav5 commented on #500
Also, apologies for living under a cave and not looking at PRs.

[2021-07-02 15:09] robations commented on #501
No problem, I know the feeling.

[2021-07-06 04:57] imbhargav5 commented on #505
Fix is WIP. It will be out in a couple of days. Thank you

[2021-07-06 04:57] imbhargav5 commented on #501
Fix is WIP. It will be out in a couple of days. Thank you

[2021-07-06 04:57] imbhargav5 commented on #500
Fix is WIP. It will be out in a couple of days. Thank you

[2021-07-10 03:35] #500 closed

[2021-07-10 09:46] AdrienLemaire commented on #500
Thank you!

[2021-07-13 13:13] vaishal commented on #482
Hi, I was about to raise a similar issue. I ended up creating my own hook to also address the `ontouchstart` + React v17 issue.

@imbhargav5 here's an example use-case https://codesandbox.io/s/useoutsideclick-multiple-refs-mb8hp
Without multi ref support clicking on either child closes them.

 I'm also happy to submit an MR to allow an array or single ref.

[2021-07-17 06:14] imbhargav5 opened #508 "useDimensionsRef"

[2021-07-17 07:43] #505 closed

[2021-07-17 15:05] #508 closed

[2021-07-22 07:58] Chetan11-dev opened #512 "useBoundingclientrect do not update"
in case you update styles via dom useBoundingclientrect will not update while it actually should
[code]
Reason: MutationObserver(used in hook) does not fire in such scenario
Solution: use ResizeObserver instead
Example
[code]
Great efforts indeed. Love from India.

[2021-07-22 09:35] imbhargav5 commented on #512
@Chetan11-dev You are right. A `ResizeObserver` PR is in the works. We will update the `useBoundingClientRect` hooks soon.

[2021-07-22 14:12] qiweiii commented on #501
@imbhargav5 I have looked at the example, the hook should be working fine, but the sandbox example is not using useThrottle correctly. My updated example is below:

[code]

Please try it out

[2021-07-24 10:04] qiweiii commented on #470
@imbhargav5  Could i try this?

[2021-07-25 08:45] #212 closed

[2021-07-25 08:45] #227 closed

[2021-07-25 08:45] #279 closed

[2021-07-25 08:45] #283 closed

[2021-07-25 08:46] #482 closed

[2021-07-25 08:48] #36 closed

[2021-07-25 09:12] #492 closed

[2021-07-25 12:55] imbhargav5 commented on #473
Merged.

[2021-07-25 12:55] #473 closed

[2021-07-26 15:51] maciekgrzybek commented on #429
I can pick this one up. What's exactly the behaviour that we want?

[2021-07-26 16:50] nghiepit opened #524 "All hooks @rooks/use-xxx are missing type definitions"
**Describe the bug**
All hooks @rooks/use-xxx are missing type definitions.
Example: https://www.npmjs.com/package/@rooks/use-interval
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/54924428/127026839-1492e0a5-1399-4e19-8414-0a069e791de8.png)
![image](https://user-images.githubusercontent.com/54924428/127026957-ca50548c-2b70-4aea-bb10-765ca8269bcd.png)

[2021-07-26 18:16] imbhargav5 commented on #524
Hi @nghiepit , I understand that this is an issue but the package was in it's early days back then and we didn't have too many types. But `rooks` has types and you can start using that instead.

[2021-07-26 18:16] #524 closed

[2021-07-27 09:05] imbhargav5 opened #525 "Convert helpers to typescript"
We have a few scripts which help us maintain our package.

1. Convert helpers/** files to typescript
2. Change their usage in package.json which is currently `node helpers/... ` to work with the new typescript files

[2021-07-27 09:07] #501 closed

[2021-07-27 09:08] imbhargav5 commented on #470
@qiweiii Go for it!

[2021-07-27 09:18] maciekgrzybek commented on #525
I'll pick it up 👌

[2021-07-27 09:55] maciekgrzybek commented on #525
Question - are all these scripts actually being used somewhere? For example, I can't find `update_readme` being used anywhere/

[2021-07-28 18:25] imbhargav5 opened #528 "Reorganize sidebar"
![Screenshot 2021-07-28 at 11 54 39 PM](https://user-images.githubusercontent.com/2936644/127375952-43acb4d4-092e-407c-a2b2-50afafe2e7d4.png)

1. We should rename `Independent Packages` to `Custom Hooks` and remove the `All In One` section.
2. We should move `Hooks List` page to the bottom as it's not that important.

[2021-07-28 20:34] cg-n opened #529 "useMutationObserverRef documentation does not show example of using useMutationObserverRef"
**Describe the bug**
The [documentation for `useMutationObserverRef`](https://react-hooks.org/docs/usemutationobserverref/) does not have an example of how to use `useMutationObserverRef`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://react-hooks.org/docs/usemutationobserverref/
2. Scroll to the Usage section
3. Look through the code

**Expected behavior**
The usage code samp

[2021-07-29 05:11] imbhargav5 commented on #529
Great catch @cg-n ! Would you like to submit a PR? You are welcome to give it a shot. No compulsion though. Thanks for submitting this issue!

[2021-07-29 12:03] cg-n commented on #529
Thank you. Unfortunately I do not have time to commit to this at the moment.

[2021-07-30 08:23] AdrienLemaire opened #530 "useOutsideClickRef doesn't detect node changes"
**Describe the bug**
When the node ref used by useOutsideClickRef re-renders or if its children change, clicking within a new element in that node will trigger useOutsideClickRef's callback.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a menu used as ref by useOutsideClickRef
2. click on an icon in the menu that will replace said icon with a new one (in my case a button to toggle on/

[2021-07-30 09:39] imbhargav5 commented on #530
@AdrienLemaire Will do this on top priority. Could you help us with a code sandbox? That would be super useful.

[2021-07-30 10:10] AdrienLemaire commented on #530
@imbhargav5 as a temporary solution, I'm returning both icons, and toggling the hidden css style, so this is not urgent to me.

Sorry, I've finished my week and have to go. Tried to do a sandbox here, but the result is a bit different  (clicking on the button at any time will throw the alert)
https://codesandbox.io/s/useoutsideclickref-forked-m4ztt?file=/src/App.js

[2021-07-30 10:41] imbhargav5 commented on #530
@qiweiii can you check this out?

[2021-07-30 10:49] qiweiii commented on #530
@imbhargav5 Got it, I'll take a look at it soon

[2021-07-30 18:09] ChocolateLoverRaj opened #533 "Tests are not included in eslint `parserOptions.project`"
**Describe the bug**
I am using [the eslint vscode plugin](https://github.com/Microsoft/vscode-eslint).

[code]

**To Reproduce**
Steps to reproduce the behavior: Install the plugin
1. Go to any `src/__tests__/*.spec.tsx` file.
2. Go to first character of file.
3. See error from the extension

**Expected behavior**
The eslint extension should be able to show / fix linting errors on `.spec.tsx` fil

[2021-07-31 03:17] imbhargav5 commented on #533
Strange. I thought this was fixed 🤔.

Please submit a PR . That would be 🔥🔥

[2021-07-31 03:37] #470 closed

[2021-07-31 06:26] imbhargav5 commented on #533
Fixed in #536

[2021-07-31 06:26] #533 closed

[2021-07-31 07:06] #303 closed

[2021-07-31 07:06] #312 closed

[2021-07-31 07:07] #440 closed

[2021-07-31 18:05] ChocolateLoverRaj opened #539 "`useMapState.spec.tsx` has duplicate title tests"
**Describe the bug**
There are two tests with the title `should update old value correctly`.

**To Reproduce**
Steps to reproduce the behavior:
1. Run eslint on `useMapState.spec.tsx`
2. See error

**Expected behavior**
All tests have unique titles which accurately describe the test.

**Screenshots**
![image](https://user-images.githubusercontent.com/52586855/127748712-b1b04e21-f2ff-4e94-ae79-5d60

[2021-07-31 18:17] ChocolateLoverRaj opened #540 "usePrevious demo not working in website iframe"
**Describe the bug**
I went to https://react-hooks.org/docs/useprevious/#basic-usage and the iframe was just a black rectangle.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://react-hooks.org/docs/useprevious/#basic-usage
2. See iframe not working

**Expected behavior**
The code sandbox should be seen.

**Screenshots**
![image](https://user-images.githubusercontent.com/52586855

[2021-08-01 06:58] #528 closed

[2021-08-01 07:00] imbhargav5 commented on #539
Good catch. @ChocolateLoverRaj . Do you want to try submitting a PR?

[2021-08-01 07:07] imbhargav5 commented on #530
can you check if the latest version fixes your issue @AdrienLemaire ?

[2021-08-01 07:07] imbhargav5 commented on #530
Closing this for now but feel free to reopen.

[2021-08-01 07:07] #530 closed

[2021-08-01 09:28] imbhargav5 commented on #429
@maciekgrzybek It's basically a value that tracks another value and gets updated in a debounced way.

`const debouncedValue = useDebouncedValue(originalValue, 200)`.

We will use this until `useDeferredValue` becomes stable in React.

[2021-08-01 15:44] ChocolateLoverRaj commented on #539
@imbhargav5 sure I will start a PR

[2021-08-01 16:33] qiweiii opened #545 "docs: sidebar disappears when click on Documentation"
**Describe the bug**
Asidebar disappears when click on Documentation

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://react-hooks.org/
2. Click on 'Documentation' at the top

**Expected behavior**
Sidebar appears on the left

**Screenshots**
![image](https://user-images.githubusercontent.com/32790369/127778444-156fd505-ba67-4555-896d-f3ed1993d0ac.png)

**Desktop (please complete

[2021-08-02 05:37] #313 closed

[2021-08-02 05:37] imbhargav5 opened #546 "Show contributors on home page"
So we need to generate a contributors.md inside the docusaurus package using all contributors cli within our script.

We can use the same script to update our readme.

[2021-08-04 11:05] #545 closed

[2021-08-04 12:34] qiweiii commented on #546
@imbhargav5 I did not find `all contributors cli` in our project, do you mean using the contributors.yml in `.github/workflow`, and where do we put this contributors page in docusaurus?

[2021-08-04 12:43] qiweiii commented on #540
Hey @ChocolateLoverRaj, I cannot reproduce this issue now

![image](https://user-images.githubusercontent.com/32790369/128182171-b9f284dd-18f6-4ece-b095-fa3c22915f5f.png)

It could be a problem with code sandbox api, but now it's fine

https://codesandbox-status.vercel.app/

[2021-08-05 00:58] airtonix opened #548 "Cannot find module '@/types/index-value' or its corresponding type declarations."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. import rooks
2. run `tsc --noEmit`
3. get type error `can't find @/types/index-value`
4. See error

**Expected behavior**

not throw that error.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com

[2021-08-05 01:00] airtonix commented on #548
i see you're also using custom paths: https://github.com/imbhargav5/rooks/blob/main/tsconfig.json#L22-L24

you need to update your build system so this gets rewritten in the output and these types get rolled up into the types

[2021-08-05 08:02] imbhargav5 commented on #548
Ah I see. @airtonix . Can you help with a snippet or even better a PR? I could use some help here. Thanks a lot!

[2021-08-05 17:08] imbhargav5 commented on #548
This is a 🔥 issue @qiweiii . Can you take up this one?

[2021-08-05 17:23] imbhargav5 commented on #548
Fix on the way.

[2021-08-05 17:46] imbhargav5 commented on #548
Might have fixed it in this commit https://github.com/imbhargav5/rooks/commit/a34ad49. Please take a look @airtonix

[2021-08-05 18:12] ChocolateLoverRaj commented on #540
@qiweiii I checked it again and it worked on a tablet with firefox but it's still not working on the device I originally created this issue for.

[2021-08-06 08:28] imbhargav5 commented on #548
Closing as this seems fixed. Please open if you still find it.

[2021-08-06 08:28] #548 closed

[2021-08-06 12:55] #525 closed

[2021-08-07 05:37] #539 closed

[2021-08-07 05:38] imbhargav5 commented on #546
Yes `all contributors cli` doesn't seem to be as thorough as I thought. Let's just use contributors.yml in the workflow to generate another doc and put in the last section in the home page of our website.

[2021-08-07 05:40] imbhargav5 commented on #546
On second thought, it will be great if we just add it to our `ci-release.yml` workflow and just recreate it on each release.
I am thinking we should just use  contributors from `github` rather than all contributors. What do you think?

[2021-08-07 05:45] imbhargav5 commented on #546
On third thought, let's use all contributors and keep it simple. What we should however do is to generate a `markdown` file on each release that we will use in our home page to show all contributors.

[2021-08-07 09:05] qiweiii commented on #540
In the image I saw you opened the website in incognito mode, after trying the same, I found this issue existis in all codesandbox iframes when we open the rooks website in incognito mode. Actually, other websites that use embed codesandbox also have this problem.

It is caused by Chrome setting: `chrome://settings/cookies` -> when `Block third-party cookies in Incognito` or `Block third-party cook

[2021-08-07 14:37] qiweiii commented on #546
@imbhargav5 how do i know who are the maintainers?

[2021-08-07 16:19] ChocolateLoverRaj commented on #540
@qiweiii I allowed third party cookies on the website and it works.

[2021-08-08 08:03] imbhargav5 commented on #540
Thanks for the explanation @qiweiii . Makes sense

[2021-08-09 13:19] #546 closed

[2021-08-11 18:29] maciekgrzybek commented on #429
Hey @imbhargav5 just added WIP PR - take a look and let me know if that is actually what you wanted for this hook :) if it's ok I'll add the docs and other stuff 👌

[2021-08-14 12:23] #429 closed

[2021-08-14 13:45] #431 closed

[2021-08-15 06:04] #529 closed

[2021-08-19 13:48] PascalPixel opened #558 "useDebouncedValue type"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Returned type to be `string`

**Additional context**

`"typescript": "^4.3.5"`

`tsconfig.json`

[code]

[2021-08-19 14:32] PascalPixel opened #559 "NextJS / SSR support"
`window` is not defined during SSR, defensive programming and fallback would make it work.

(Use `useWindowScrollPosition` with NextJS during SSR to see error)

[2021-08-19 14:40] qiweiii commented on #558
@PascalPixel Sorry the example in doc was messed up, we will update it soon, here is an working example of this hook: https://codesandbox.io/s/usedebouncedvalue-pgvg5?file=/src/App.js

[2021-08-19 22:27] ali-master opened #561 "Add Web OTP hook"
**Is your feature request related to a problem? Please describe.**
Google Chrome has added the [Web otp](https://web.dev/web-otp/) feature and now, we can add it to this project.

**Describe the solution you'd like**
I would like to add this feature as a React hook to make it more simple for use in modern projects.

**Describe alternatives you've considered**
There is no alternative as I know.

Wh

[2021-08-20 03:26] qiweiii commented on #561
Sounds great! @ali-master go ahead!

[2021-08-20 07:27] #558 closed

[2021-08-20 08:21] imbhargav5 commented on #561
Yes!! @ali-master This sounds insane. Let's do it! Take a shot and we will also chip in.

[2021-08-20 13:28] qiweiii commented on #559
@imbhargav5 I am not familiar with next.js and ssr, could you take a look first? I may need more time to learn.

[2021-08-22 10:10] qiweiii opened #563 "List of hooks with missing docs and tests"
## Docs

List of hooks that need to be updated in [docs](https://react-hooks.org/)
Each hook should have **one working example**, **one working codesandbox**, **correct auguments and returns section**.
Examples should be easy to read and understand with correct usage of the hook.

- [ ] useCountdown
- [ ] useDebounce
- [ ] useDimensionsRef
- [ ] useDocumentEventListener
- [ ] useEffectOnceWhen
- [

[2021-08-22 16:51] imbhargav5 commented on #563
This is super helpful to organise this at one place!

[2021-08-23 11:59] PascalPixel commented on #559
NextJS uses React's `ReactDOMServer` to render the HTML in Node.

There is no `window` object in Node. (`globalThis` will eventually patch this...).

As a result any use of `window` needs to use `typeof window !== 'undefined'` with a fallback. :) Hope this helps!

[2021-08-29 03:27] phmngocnghia commented on #512
Are the PR working in progress? I would like to contribute

[2021-08-29 16:19] imbhargav5 opened #568 "Better Typescript : Use native types than creating a new one"
https://github.com/imbhargav5/rooks/blob/85168bafc72033d3fcb8905959a49fcdbaaf2484/src/hooks/useWindowSize.ts#L4

[2021-08-29 16:22] imbhargav5 opened #569 "Add this hook to index.ts"
https://github.com/imbhargav5/rooks/blob/85168bafc72033d3fcb8905959a49fcdbaaf2484/src/hooks/useRefElement.ts#L9

[2021-08-29 16:23] imbhargav5 opened #570 "Remove unnecessary extra type here."
https://github.com/imbhargav5/rooks/blob/85168bafc72033d3fcb8905959a49fcdbaaf2484/src/hooks/useInput.ts#L3

[2021-08-29 16:24] imbhargav5 opened #571 "Let's use native types here"
https://github.com/imbhargav5/rooks/blob/85168bafc72033d3fcb8905959a49fcdbaaf2484/src/hooks/useGeolocation.ts#L3

[2021-08-29 16:25] imbhargav5 opened #572 "Let's use native types here where we can"
https://github.com/imbhargav5/rooks/blob/85168bafc72033d3fcb8905959a49fcdbaaf2484/src/hooks/useFullscreen.ts#L12

[2021-09-02 16:38] qiweiii commented on #568
Remove unnecessary extra type:
https://github.com/imbhargav5/rooks/blob/85168bafc72033d3fcb8905959a49fcdbaaf2484/src/hooks/useInput.ts#L3

Use native types here:
https://github.com/imbhargav5/rooks/blob/85168bafc72033d3fcb8905959a49fcdbaaf2484/src/hooks/useGeolocation.ts#L3
https://github.com/imbhargav5/rooks/blob/85168bafc72033d3fcb8905959a49fcdbaaf2484/src/hooks/useFullscreen.ts#L12

[2021-09-02 16:39] qiweiii commented on #571
Moved to #568

[2021-09-02 16:39] #571 closed

[2021-09-02 16:39] qiweiii commented on #570
Moved to #568

[2021-09-02 16:39] #570 closed

[2021-09-02 16:39] qiweiii commented on #572
Moved to #568

[2021-09-02 16:39] #572 closed

[2021-09-02 18:15] #569 closed

[2021-09-04 11:51] imbhargav5 opened #577 "Rewrite useGeoLocation hook"
At this point we are using custom interfaces but I think we should come up with a better approach. Let's just return the geolocation object directly and also the error.

[2021-09-04 12:22] imbhargav5 commented on #577
@qiweiii I am almost done with hook itself. Can you work on adding the test cases for it? We will need to mock geolocation in jest and get it worked. This is a breaking change.

[2021-09-04 14:09] imbhargav5 commented on #577
@qiweiii The hook internals are done. Let's add tests to this one.

[2021-09-04 14:41] imbhargav5 opened #579 "Rewrite useFullscreen hook"
- Remove the polyfill and leave it to the users to add the polyfill on their end. Gives them more options.
- Keep the hook light and only use document fullscreen methods.

[2021-09-04 14:42] imbhargav5 opened #580 "Add useRefElement to docusaurus"
Right now it is just exposed. We need to make sure it appears in docs, has an entry in the sidebar and also appears in the hooks-list.

[2021-09-04 14:56] #568 closed

[2021-09-04 15:45] imbhargav5 opened #581 "Better typing for useGlobalEventListener"

[2021-09-06 04:19] RussellSanders1 opened #585 "Use generics in hooks like useMapState"
Hooks that deal with and return data should be using generics to give users the benefit of type analysis on their data.

[2021-09-06 09:43] imbhargav5 commented on #585
Absolutely. I am working on it @RussellSanders1 !

[2021-09-06 14:35] imbhargav5 opened #586 "useStackState and useQueueState are using `any`. we should instead use generics here."

[2021-09-07 07:29] imbhargav5 opened #587 "v6"
Priorities for v6.

- Typescript, Typescript and Typescript
- Deprecating packages which solve the same purpose. (useVisibilitySensor can be deprecated in favour of useInViewRef) etc
- useGeolocation, useFullscreen,
- useCountdown should be deprecated, it makes sense for it to be in a hook for `dayjs`

v7 rough priorities
- form hooks
- accessibility

[2021-09-11 05:21] #580 closed

[2021-09-11 15:28] danielortiz commented on #559
if that helps anyone, I've done this for now while this doesn't get fixed
[code]

[2021-09-13 06:33] krijoh92 opened #590 "useMediaMatch doesn't work in Safari 13.1"
**Describe the bug**
Safari 13.1 doesn't support matchMedia's `addEventListener`, it uses the deprecated `addListener` instead. It's documented [here](https://developer.mozilla.org/en-US/docs/Web/API/MediaQueryList/addListener#browser_compatibility):

I have tested a modified `useMediaMatch` where it uses `addListener` instead of `addEventListener` on Safari 13.1 and can submit a PR for it.

**To

[2021-09-13 06:39] imbhargav5 commented on #590
@krijoh92 Thanks for creating this issue.

Yes please!

[2021-09-13 06:40] krijoh92 commented on #590
Sweet, PR will be up in a bit👍

[2021-09-13 09:53] #590 closed

[2021-09-13 11:12] krijoh92 commented on #590
Thanks a lot for being so quick about resolving this issue :) !

[2021-09-13 14:05] qiweiii commented on #587
Hooks to be deprecated:

- `useInterval`: `useIntervalWhen` does the same job and has more features
- `useUpdateEffect`: similar to useDidUpdate
- `useVisibilitySensor`: `useInViewRef` has the same feature, may choose one of them
- `useSessionstorageState`: usage is the same as `useSessionstorage`

[2021-09-13 15:55] equinusocio opened #592 "useFocus / useFocusWithin"
**Is your feature request related to a problem? Please describe.**
An hook to detect if element has focus within and outside would be useful for accessibility, like the `:focus-within` css selector.

**Describe the solution you'd like**
Something like this:
https://react-spectrum.adobe.com/react-aria/useFocusWithin.html

**Describe alternatives you've considered**
Using the react-aria hooks

[2021-09-16 16:01] LoganDark opened #594 "useTimeout restart() method that does not cause a state update"
**Is your feature request related to a problem? Please describe.**
I'm setting a timeout as a result of a user action that saves to file in 2000 ms, that way, if multiple actions are performed in a small period, the disk doesn't get thrashed. However, the state updates required to clear and start the timer are taking upwards of 50 ms. This causes noticeable sluggishness in the application, even th

[2021-09-16 23:55] imbhargav5 commented on #594
@LoganDark Could you help with a snippet? I will make sure we find a solution to this before Monday.

[2021-09-16 23:58] LoganDark commented on #594
I can't, as it's all proprietary. I'm sure the sluggishness of the state updates depends on how complex the host component is. So, all you need is to `useTimeout` in a complex component, and then clear and start it on every user interaction, i.e. scroll or keydown in an input field. Then you will feel the slowness

[2021-09-17 10:04] imbhargav5 commented on #594
@LoganDark Could you try using `useTimeoutWhen` instead? We are deprecating `useTimeout` anyway. That should be very easy to use in this case, as you will have to manage a boolean and that will start/stop the timeout based on the boolean.

[2021-09-17 14:05] imbhargav5 commented on #587
@qiweiii Let's add deprecation message to all these? Lets add a dev only warning message in the console for these hooks and also add a deprecation label for docusaurus on the sidebar.

[2021-09-17 14:33] LoganDark commented on #594
In order to restart the timer, I would still have to do 2 state updates.

Aren't you only deprecating useInterval?

[2021-09-18 01:54] imbhargav5 commented on #594
No, there are a few that we are deprecating since we have better alternatives. A PR for that will be in the works so the message about which hooks are deprecated will be clear.

https://github.com/imbhargav5/rooks/issues/587#issuecomment-918226825

[2021-09-18 01:55] LoganDark commented on #594
Yes, that is _exactly_ where I got the information that useInterval would be deprecated. It looks like you've just realized you forgot to also list useTimeout.

[2021-09-18 03:06] imbhargav5 commented on #594
Yes. It was another maintainers comment. I modified that and pasted a link so you can see other hooks which are also being deprecated. We are trying to improve rooks actively.

If you set when to false, the timer is off. Either way to help you out we need a snippet that explains the requirements better. Any code snippet that is similar to what you want will do.

[2021-09-18 03:14] imbhargav5 commented on #594
If this hook won’t solve the problem we will try to come up with changes or just an entirely new hook. We just need to see the intended scenario more from your perspective.

[2021-09-18 03:20] LoganDark commented on #594
By reset, I meant restart, sorry. I don't mean stop the timer. In order to _restart_ the timer, you have to first cause a state update where `when` is false, and then cause a state update where it is true. In the end, `when` is still true and the timer is still active. But the fact that two state updates have to be performed causes React to have to re-render twice which is very slow (in my case 25

[2021-09-18 03:23] LoganDark commented on #594
Come to think of it, it looks like you already have a debounce hook of some kind. However, there's no useful documentation on it and I don't know what it does or if it serves this use case. The only documentation I can find is:

[code]

which is not very informative.

[2021-09-18 04:10] imbhargav5 commented on #594
Yes. useDebounce probably won't solve your issue.

[2021-09-20 10:32] imbhargav5 commented on #594
@LoganDark Will this not solve your problem? 🤔

[code]

[2021-09-20 18:05] LoganDark commented on #594
No, because this isn't saving from a manual button click, it's saving automatically code that hasn't yet been explicitly saved by the user

[2021-09-21 08:32] imbhargav5 commented on #594
@LoganDark You can call the denounced callback when the user stops typing or on a button click or whenever.

That should do the job IMO.

[2021-09-21 08:33] LoganDark commented on #594
Right, and now we're back to the problem of "how do we know when the user is done typing". I only get events on each key down. There's no event for "there have been no keys down in the past couple seconds". So I have to use a timeout.

[2021-09-21 10:10] imbhargav5 commented on #594
I think I have a solution for this. I will get back in a day.

[2021-09-22 09:48] ackl commented on #559
this is implemented correctly in some places but not others

e.g. https://github.com/imbhargav5/rooks/blame/main/src/hooks/useWindowEventListener.ts

has a `  if (typeof window !== 'undefined')` check before calling `useGlobalObjectEventListener` (note that the guard in `useGlobalObjectEventListener` is not enough, since to call this method we need to pass the globalObject arg (window or document)

[2021-09-26 11:36] qiweiii commented on #559
A PR is working in progress

[2021-10-17 06:47] qiweiii commented on #563
All done!

[2021-10-21 22:09] mmahalwy opened #605 "List of possible keys"
Would be great to get an idea of all the possible keys or have it typed in TS

[2021-10-25 20:53] bradharms opened #608 "Rooks should use 'useEffect()' as it is intended to be used"
## The Problem

I've been researching React's core `useEffect()` hook and discussing with other developers on my team trying to understand it better. From what I can tell, some of the hooks in Rooks do not use it according to the intentions and paradigms expressed by React in the current version (17) and upcoming version (18). In particular, some of the hooks in Rooks intentionally omit dependenci

[2021-11-11 03:39] imbhargav5 opened #613 "Mergify queue"

[2021-11-11 07:54] #613 closed

[2021-11-15 10:35] devagja opened #666 "useMutationObserver disconnect"
Hello,
I can't find a way to disconnect the observer on the callback, it would be great to be able to do that.

Thank you

https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver/disconnect

[2021-11-16 01:58] imbhargav5 commented on #666
The `disconnect` happens within the `useEffect` cleanup internally. Do you have a particular use case in mind?

[2021-11-24 20:42] equinusocio commented on #592
This hook is the only thing preventing me to drop react-aria dependency☹️

[2021-11-27 09:43] imbhargav5 commented on #592
Sorry @equinusocio for the delay. This will be ready in less than 2 weeks. Actively working on rooks right now. Thanks for your patience and understanding!

[2021-12-09 15:18] equinusocio commented on #592
Good! Any update?

[2021-12-13 17:32] ndeviant opened #734 "`useLocalstorage` does not use the defaultValue on the first render"
**Describe the bug**
The `useLocalstorageState` does not have this issue, as far as I could tell.

**To Reproduce**
https://codesandbox.io/s/uselocalstorage-forked-jm7t6?file=/src/App.js
Steps to reproduce the behavior:
1. Make sure you localStorage has no "name" field in it
2. Watch the console

**Expected behavior**
Should use default value on the first render.

**Screenshots**
<img width="1219"

[2022-01-10 19:17] LongLiveCHIEF opened #780 "useSessionstateStorage does not re-render when removing item from storage"
**Describe the bug**
The `useSessionstateStorage` docs read:

This implies that any change implemented with this hook will cause a re-render. At the moment, using the remove function does not cause the component to re-render.

If this is desired behavior, we should document it.

If we want it to re-render (which makes sense to me), then I can look into making a PR.

[2022-01-10 20:09] LongLiveCHIEF commented on #780
I should have a PR coming in shortly for this.

[2022-01-19 09:51] mrdulin commented on #586
Hi. I made a [PR](https://github.com/imbhargav5/rooks/pull/790)

[2022-01-20 13:08] imbhargav5 commented on #780
I see this is a definite bug. Will take a look at your PR.

[2022-01-22 21:53] imbhargav5 opened #798 "Remove netlify from website"
We no longer use Netlify.

react-hooks.org

![Screenshot 2022-01-23 at 3 23 22 AM](https://user-images.githubusercontent.com/2936644/150656643-71f38ced-4998-4621-a034-32a26f495b1a.png)

[2022-01-22 22:01] imbhargav5 opened #799 "useMapState should use generics"

[2022-01-23 02:59] billymosis commented on #798
Hi I'm created PR
#800

[2022-01-23 07:53] #798 closed

[2022-01-23 10:59] imbhargav5 opened #801 "The GitHub link styling is off"
**Describe the bug**
The GitHub link looks weird in the website
**To Reproduce**
Steps to reproduce the behavior:
1. Go to react-hooks.org
2. View the navbar
3. See error

**Expected behavior**
The github icon and text should be side by side

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="436" alt="Screenshot 2022-01-23 at 4 28 47 PM" src="https://user-ima

[2022-01-24 11:09] #801 closed

[2022-01-24 22:02] imbhargav5 opened #806 "useToggle should use generics"

[2022-01-25 02:29] 3rma1 opened #807 "matchSelection on useSelectableList returns void"
Hello,

I am using useSelectableList  hook and I am noticing that it returns a void, instead of boolean.
const matchSelection: (parameters: OptionalIndexValue<Tags>) => void

On the documentation it says that it returns a boolean.
({ index?: number, value?: T }) => Boolean

[2022-01-25 08:27] imbhargav5 commented on #807
Ah if this is so, then this is probably a bug. Would love it if you can provide a reproduction in a sandbox.

[2022-02-01 11:19] pingustar commented on #559
@qiweiii any update on this?

[2022-02-07 13:27] KasperAndersson commented on #559
@pingustar It's stucked here https://github.com/imbhargav5/rooks/pull/564

[2022-02-11 16:45] Goku-kun commented on #734
Hello @imbhargav5.
Is anyone working on this? I'd like to take a stab at solving this issue.

[2022-02-22 07:50] imbhargav5 opened #836 "Remove unnecessary warnings on useDocumentEventListener and useWindowEventListener"
**Describe the bug**
We are currently showing warnings for useDocumentEventListener and useWindowEventListener which are running in the render phase and are completely unnecessary.

Remove the warning here https://github.com/imbhargav5/rooks/blob/3434de767d5708ec7b2bbf6c7d676e3bd1e0692e/src/hooks/useDocumentEventListener.ts#L20

and similarly in  useWindowEventListener and instead check if the obj

[2022-03-05 16:48] #836 closed

[2022-03-08 18:33] bthall16 opened #877 "[useFullscreen] Return type appears incorrect"
https://github.com/imbhargav5/rooks/blob/49e14919944b7755926644cc0af7a0c05ff61f1d/src/hooks/useFullscreen.ts#L150

The return type for the `useFullscreen` hook is of type `FullscreenApi | undefined`. However, looking through the function body I don't see any path where `undefined` is returned. Consequently, TypeScript users have to perform type checks or add non-null assertions, both of which are

[2022-03-10 22:04] #559 closed

[2022-03-22 20:38] hufftheweevil commented on #605
I think the OP was asking for documentation on the possible values for the `keyList` argument of the `useKey`, `useKeys` and `useKeyRef` hooks. I, too, am looking for this information.

[2022-03-22 20:43] hufftheweevil commented on #605
After reviewing the code, I see that it will basically accept any `e.key`, `e.code`, `e.keyCode`, `e.which`, or `e.charCode`. Perhaps this should be explained in the docs somewhere.

[2022-03-25 03:34] gpoole commented on #734
The default value is set by a [`useEffect`](https://github.com/imbhargav5/rooks/blob/17f48f0a1e69f4688d3644d00a024257f3f57004/src/hooks/useLocalstorage.ts#L82), so it'll only ever be available in the second render. The hook will need to return the default instead of `value` if `value` is `null` for it to work in the first render.

[2022-03-25 08:17] imbhargav5 commented on #734
@gpoole go for it! I get what you are saying!

[2022-03-25 08:19] imbhargav5 commented on #734
@gpoole also before you try it , could you see if uSeLocalStorageState solves your problem? I made some poor api choices with useLocalstorage and I am planning to deprecate it in favor of the new hook.

[2022-03-25 08:41] gpoole commented on #734
@imbhargav5 oh I didn't realise there was `useLocalStorageState`. API looks good to me and looks like that won't have the same bug either so deprecating `useLocalStorage` sounds like the best option.

[2022-03-25 12:01] imbhargav5 opened #900 "[useLocalStorageState] and [useSessionStorageState] should support replacer, reviver for JSON stringify and parsing."
**Is your feature request related to a problem? Please describe.**
Some users require saving objects like ES6 maps which can't be JSON.stringified without a replacer function.

**Describe the solution you'd like**

We need replacer/ reviver functions optionally to be sent as arguments.
[code]
Replacer will be used by JSON.stringify and JSON.parse will use the reviver.
https://developer.mozilla.org

[2022-03-25 12:18] imbhargav5 opened #901 "[useLocalstorageState] doesn't update components sharing the key"
**Describe the bug**
[A clear and concise description of what the bug is.
](https://d2uj3r.csb.app/)

[2022-03-27 17:09] zethussuen opened #904 "useMultiSelectableList matchSelection returns void rather than boolean"
**Describe the bug**
Using matchSelection on checkbox inputs complains in TypeScript due to `void` not being assignable to `boolean`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a list of checkboxes using useMultiSelectableList
2. Set the checked prop of the inputs to matchSelection({ index })
3. See error

**Expected behavior**
matchSelection should return type boolean as TypeScri

[2022-03-28 03:36] #807 closed

[2022-03-28 03:36] #904 closed

[2022-03-28 03:43] imbhargav5 commented on #904
Should be fixed!

[2022-03-28 03:44] imbhargav5 commented on #807
_Years later_

This should be fixed.

[2022-03-28 09:33] #901 closed

[2022-03-30 06:30] imbhargav5 commented on #900
That would be great!!

[2022-04-09 08:55] imbhargav5 opened #933 "useGeolocation hook but with suspense"
**Is your feature request related to a problem? Please describe.**
I think there is a great opportunity to make a geolocation hook which is suspensified.

**Describe the solution you'd like**

[code]

Optionally, we can make a new hook for it useGeolocation hook to be suspensified from v6.

[2022-04-09 09:01] #512 closed

[2022-04-09 09:01] #561 closed

[2022-04-09 09:02] imbhargav5 commented on #780
Please try this in the latest version. A lot of the state related problems have been fixed.

[2022-04-09 09:03] imbhargav5 commented on #780
Feel free to reopen if this issue still exists.

[2022-04-09 09:03] #780 closed

[2022-04-09 09:03] #799 closed

[2022-04-09 09:04] imbhargav5 commented on #605
Got it. So the actionable item here is to improve documentation of keyboard related hooks like `useKey`, `useKeys` and `useKeybindings.`

[2022-04-09 09:04] #666 closed

[2022-04-09 09:05] #594 closed

[2022-04-09 09:05] #734 closed

[2022-04-09 09:06] LoganDark commented on #594
I no longer need this feature, but just for completeness, is the issue just closed or is there a solution in Rooks now? ty

[2022-04-09 09:07] imbhargav5 opened #934 "useFullscreen hook but with suspense"
**Is your feature request related to a problem? Please describe.**
I think there is a great opportunity to make a fullscreen hook which is suspensified.

**Describe the solution you'd like**

[code]

Optionally, we can make a new hook for the useFullscreen hook to be suspensified from v6.

[2022-04-09 09:08] #934 closed

[2022-04-10 15:13] LongLiveCHIEF commented on #780
If I can tell what's going on based on your changes, there is a storage event listener that re-evaluates the `key` value when the `removeItem` changes the storage area?

I can't track in the code where this effect causes a change to state anywhere in the hook (thus causing a re-render). I can take a look when I'm back in the office.

I'm also worried that if it _does_ cause a re-render, it does so

[2022-04-10 16:53] imbhargav5 commented on #780
🤔 We haven't had any reports on bugs on useSessionstorageState yet. But if there is a reproduction I can take look!

[2022-04-12 07:42] jimmycrequer opened #937 "New hook proposal : useDirectClickRef"
**Is your feature request related to a problem? Please describe.**

For one of our usecase, we need to be able to close a menu when clicking outside an element. This could work well with the existing `useOutsideClickRef` hook, but there is some space between the content of the menu and we want to be able to close the menu when clicking on that empty space as well.

![Screenshot from 2022-04-12 16-

[2022-04-15 09:14] equinusocio commented on #592
Any update on this?

[2022-04-26 01:11] jimmycrequer commented on #937
Found out that this was a bad idea as it relies on the HTML structure of child elements and breaks easily. Closing the issue.

[2022-04-26 01:11] #937 closed

[2022-04-26 13:35] espretto opened #961 "useOutsideClick capture phase"
I was surprised to find that `useOutsideClick` registers its listeners for the `capture` phase of the event (which makes things harder in my specific use-case). It would've been helpful to have this documented and why.

https://github.com/imbhargav5/rooks/blob/00b92839a5149f6920e2f031e7d2f1b4466e1765/src/hooks/useOutsideClick.ts#L31

[2022-05-18 08:17] nghiepit commented on #587
For `useToggle`: The 2nd argument should be a tuple value i.e ['dark', 'light'] instead of toggle function.

[code]
Implemention
[code]
Addtional `useBoolean`
[code]

[2022-05-22 10:46] ynifamily3 opened #1012 "`yarn new` command error to create new hook"
**Describe the bug**
A clear and concise description of what the bug is.
I tried to contribute by creating a new hook according to the guide in the documentation, but I found the following type error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone this repository
2. `yarn`
3. `yarn new`
4. See error

**Expected behavior**
It should be ready to create a new hook without errors.

[2022-05-25 00:47] neolivz opened #1016 "[TS] useForkRef type definition is incompatible with null or specific type of html element"
**Describe the bug**
A clear and concise description of what the bug is.

Type definition of `useForkRef` does not support null value to be passed as one of the ref. This is problematic as using with forwarded ref which can be null
[code]
There is no type safety check for making sure that the combined ref is used only on a particular type of HTMLElement, e.g HTMLButtonElement.

**To Reproduce**
St

[2022-05-25 06:03] trobe211 opened #1018 "Usekeys - incorrectly triggered after multi key press."
**Describe the bug**
If you press multiple keys to trigger an event, that same event can be triggered again by pressing the last key. E.g. Click CtrlLeft + z to trigger an event, can be triggered again by only pressing z.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the codesandbox on the rooks [useKeys](https://react-hooks.org/docs/useKeys) page [here](https://codesandbox.io/s/usek

[2022-05-25 06:13] trobe211 commented on #1018
I have patched this in my project and it seems to be working. I have forked the project and committed the change [here](https://github.com/trobe211/rooks/commit/ed02b1457750cc7463f54b974ecd084bb4aeac3b). With my limited exposure to the code I imagine someone may have a better solution than this. The idea was that if the keys pressed weren't continuous, set all in the PressedKeyMapping to false.

[2022-06-14 00:14] seanblonien commented on #512
@phmngocnghia hm, seems like this is still very relevant and it was never actually completed. I don't see `ResizeObserver` usage anywhere in the code and am running into some bugs because of it

I'll probably be using [use-resize-observer](https://github.com/ZeeCoder/use-resize-observer#readme) instead until this functionality exists within `rooks`

Not very sure what the standards are for open so

[2022-06-16 07:52] Industrial opened #1029 "Remove console.warn in SSR."
Hi.

I would like to request the removal of the `console.warn` in https://github.com/imbhargav5/rooks/blob/main/src/hooks/useOnWindowResize.ts#L28 and https://github.com/imbhargav5/rooks/blob/main/src/hooks/useOnWindowScroll.ts#L27

This log gets printed during Server Side Render. It's obvious that there is no window object in SSR and that this hook should do nothing. Having this printed in the te

[2022-06-23 09:50] mindyourlifeguide commented on #559
Hi! useOnWindowScroll and  useOnWindowResize not support SSR.
![image](https://user-images.githubusercontent.com/35348648/175271100-f6ea6eeb-db16-48b4-b5e2-28be4469d6b2.png)

[2022-06-27 10:03] iamriot-dev opened #1044 "Elapsed time in `useRaf` resets on every tick"
**Describe the bug**
The callback passed to `useRaf` takes in one parameter `timeElapsed`, this is supposed to represent the number of milliseconds passed since the hook started running. However, currently `timeElapsed` resets on every animation frame.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
`timeElapsed` should increase over time.

[2022-06-27 11:11] qqpann commented on #1044
I thought this is how the useRaf hook is supposed to work. Isn't it supposed to represent the time delta, instead of the time passed since the beginning?

[2022-06-27 11:23] iamriot-dev commented on #1044
I might have misinterpreted it then, the documentation does not really specify what it is supposed to be. What are the use cases for having the time delta between frames? I am currently trying to use this hook to run an image sequence animation, taking into account the time elapsed to calculate which frame to show.

E.g.
[code]

Perhaps the hook could instead pass an object that includes both the

[2022-06-29 22:14] imbhargav5 commented on #1044
@iamriot-dev So speaking from the top of my head, the hook is working correctly based on my original intended usage, but we can also expose total time elapsed from start time if that helps your scenario.

[2022-06-30 06:56] #1029 closed

[2022-06-30 07:59] renovate[bot] opened #1058 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/imbhargav5/rooks).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

These depende

[2022-06-30 12:19] #581 closed

[2022-06-30 13:58] qqpann commented on #1016
@imbhargav5 Is this closed, since it is related to a PR?

[2022-06-30 15:26] #1016 closed

[2022-07-01 05:54] aso1datov opened #1109 "`useWillUnmount` is broken now"
**Describe the bug**
After this [PR](https://github.com/imbhargav5/rooks/pull/1071) `useWillUnmount` cannon be used with anonymous function  because it is called every render. If this behavior is intended that way, then a major version should have been released because it is breaking change.

**To Reproduce**
https://codesandbox.io/s/competent-albattani-co2vte?file=/src/App.tsx

**Expected behavio

[2022-07-02 00:17] imbhargav5 commented on #1109
👀 Yikes. This was a massive oversight. Reverting.

[2022-07-02 00:21] #1109 closed

[2022-07-02 17:45] jekh opened #1135 "SSR error in useWindowScrollPosition and useOnWindowScroll"
**Describe the bug**
`ReferenceError: window is not defined` in `useWindowScrollPosition` on 5.11.7.

**This causes SSR pages to break completely in next.js**, and probably other SSR frameworks, too.

**To Reproduce**
Steps to reproduce the behavior:
Use `useWindowScrollPosition` in an SSR-rendered page:
[code]

**Expected behavior**
Since `window` is undefined, `scrollY`, `scrollX`, etc. should p

[2022-07-03 05:09] imbhargav5 commented on #1135
Fixed!

[2022-07-03 05:09] #1135 closed

[2022-07-11 00:37] Talent30 opened #1139 "`useWindowSize()` Unsafe assignment of an `any` value"
**Describe the bug**
`  const { innerWidth } = useWindowSize();
`eslint return Unsafe assignment of an `any` value.
**To Reproduce**
Steps to reproduce the behavior:
1. Install rooks@5.11.8
2. `  const { innerWidth } = useWindowSize();`

**Expected behavior**
return a correct type

[2022-07-12 19:38] akiszka opened #1142 "useAsyncEffect"
Hello,

I would propose to add a useAsyncEffect hook to rooks. This hook would be a simple clone of useEffect that accepts an async function.

I can write the hook and create a pr, but I would first like to know if there is demand for this kind of thing.

# Rationale

I often find myself writing lots of boilerplate code when running an async function inside useEffect. UseEffect only works with eff

[2022-07-13 07:20] imbhargav5 commented on #1142
@akiszka Looks like a great idea! Do you have any thoughts on how to clean up pending promises if a component un-mounts before the async task has finished? I guess we can use AbortController or something. What do you think?

[2022-07-13 08:38] imbhargav5 commented on #1142
@akiszka Yeah we should use AbortController. I am not sure we need cancellable option right now. We can make all of them cancellable on unmount and if there are specific repetitive edge cases we can take a call then.

[2022-07-13 14:50] imbhargav5 commented on #1139
@Talent30 I believe this has been fixed in the latest release.

[2022-07-13 20:07] Talent30 commented on #1139
Hi, @imbhargav5.

Thank you for your response.
Unfotunatily I am using the latest release of rooks which is [v5.11.8](https://github.com/imbhargav5/rooks/releases/tag/v5.11.8)
<img width="898" alt="image" src="https://user-images.githubusercontent.com/12595973/178824907-22fa6a31-30f4-418c-8ac8-f5dc2539abcc.png">

[2022-07-14 21:20] jekh opened #1145 "SSR-safe useLocalstorageState"
**Is your feature request related to a problem? Please describe.**
`useLocalstorageState` can result in hydration errors due to differing values on the initial server-side and client-side renders, based on the value in local storage. For example:
[code]

Even though `useLocalstorageState` accepts a default value, the value on the first client-side render reflects client-side local storage, while t

[2022-07-19 12:22] patik opened #1148 "Incorrect path to type definitions"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `rooks@5.11.8` for the project I'm working on. I got an error about the path to the type definitions being unresolvable. I'm using Yarn 1.22 with a Next.js project.

Here is the diff that solved my problem:

[code]

[2022-07-19 16:35] imbhargav5 commented on #1148
Hi @patik, interesting. I actually don't know how to fix this. Do you have a fix in mind? If yes, could you help with a PR if it's a quick one?

[2022-07-21 17:51] jekh commented on #1145
@imbhargav5 I'm completely willing to give this a shot if you think it's a problem worth solving. Let me know which of the possible options (or any others) you think would align better with the design of rooks.

[2022-07-21 18:16] imbhargav5 commented on #1145
@jekh I am feeling inclined towards option 2. I understand your use-case for sure. How about we add a config variable with an apt name and then if that is set, we return the default value and override the value in localstorage.

[2022-07-22 02:30] jekh commented on #1145
That sounds good to me. I'll see what I can pull together over the coming days/week(s).

[2022-07-22 05:46] #585 closed

[2022-07-23 10:58] belgattitude opened #1153 "[5.13.1] esm packaging error with @/utils/noops allias (regression from 5.12.0)."
**Describe the bug**

Using latest 5.13.1 (probably 5.13.0 too) broke the builds. I complains about `Module not found: Can't resolve '@/utils/noop'`

[code]

**To Reproduce**

You can see the result of the CI failure

- **Nextjs**: https://github.com/belgattitude/nextjs-monorepo-example/runs/7480270401?check_suite_focus=true
- **Storybook**: https://github.com/belgattitude/nextjs-monorepo-example/

[2022-07-23 17:31] imbhargav5 commented on #1153
@belgattitude Thanks for pointing this out! Will look into this one. Should find a fix by tomorrow EOD.

[2022-07-23 17:58] imbhargav5 commented on #1153
A fix is in the works. https://github.com/imbhargav5/rooks/pull/1154 .

[2022-07-23 18:18] imbhargav5 commented on #1153
Issue seems to have been fixed in the PR. merging. Hopefully it works for you .

[2022-07-23 18:26] imbhargav5 commented on #1153
Closing this issue as I tested that 5.13.2 works. Please reopen if you still see the issue.

[2022-07-23 18:26] #1153 closed

[2022-07-23 21:13] belgattitude commented on #1153
Great thank you very much.  Really love rooks.

[2022-07-26 07:51] espretto commented on #961
I'd like to change the API of `useOutsideClick` and make the third argument an options object extending the [`AddEventListenerOptions`](https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener) interface to include the existing option `when`. That way the user has more control over the event binding.

I would put up a pr for this, if desirable.

[2022-07-27 09:44] Ding-Fan commented on #1044
For my use case, I made a custom hook so it's easier to replace `setInterval`

I feed `intervalsPassed` to the callback to handle edge case like "switch to another tab for a while then switch back"

[code]

[2022-07-27 12:19] imbhargav5 opened #1175 "Deprecations in v7"
A small update from myself. I originally planned to deprecate a few poorly implemented hooks in v7 and give sufficient time of two major releases for users to migrate their code.

However I am finding it difficult to maintain existing hooks which have poor types as the codebase is pretty large now and it's mostly just me who maintains the repo. Which is why I have decided to not wait until v7 but

[2022-07-28 03:46] imbhargav5 opened #1176 "[useBoundingclientRectRef] should recalculate after window resize"
DOMRect of an element changes when the viewport resizes. So I think we should add support for this.
Thoughts @qqpann ?

[2022-07-28 04:05] imbhargav5 opened #1177 "useIntersection hook that tracks two refs interesection or tracks intersection with one ref and viewport"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-07-28 16:48] imbhargav5 opened #1178 "Remove deprecated hooks in v6"

[2022-07-28 16:48] imbhargav5 commented on #1178
#1175

[2022-07-28 16:54] #1175 closed

[2022-07-30 19:48] #577 closed

[2022-07-30 19:48] #579 closed

[2022-07-30 19:48] #586 closed

[2022-07-30 19:48] #587 closed

[2022-07-30 19:48] #806 closed

[2022-07-31 03:13] #1178 closed

[2022-07-31 08:27] #1012 closed

[2022-07-31 09:47] imbhargav5 commented on #961
Yes please . A PR would help immensely.

[2022-07-31 10:01] imbhargav5 opened #1194 "Update contributing.md to include changesets information"
Reference - https://github.com/statelyai/xstate/blob/main/CONTRIBUTING.md

[2022-07-31 10:02] imbhargav5 opened #1195 "Update NodeCI label to new action"
It is currently mapped to the old action. We should map it to the new CI workflow

[2022-07-31 10:04] #1195 closed

[2022-08-02 12:27] thiniulian opened #1197 "Ability to access the underneath node in useInViewRef"
Hello!

Is there any way to access the `node` that's used in the useInViewRef. I would need that in order to execute DOM functionalities on it, like scrollIntoView.

Any advice on how to do this?
Thanks!

[2022-08-02 19:58] imbhargav5 commented on #1197
@thiniulian Got it! An easy dirty way would be to expose the node in the return value. However, did you try any other solution like using useMergeRefs perhaps?

[code]

Something like that?

[2022-08-03 15:54] itsmingjie opened #1199 "react-hooks.org returns 404"
Looks like something was misconfigured and the entire website is now 404'ing.

<img width="1708" alt="404 NOT_FOUND - Google Chrome Dev - 2022-08-03 at 10 54 53@2x" src="https://user-images.githubusercontent.com/13333578/182654079-fc763b73-8117-4bac-a4c7-acf3d36e1b87.png">

[2022-08-03 17:27] imbhargav5 commented on #1199
@itsmingjie Thanks for reporting this! Will look into it.

[2022-08-03 17:32] imbhargav5 commented on #1199
@itsmingjie Looks like a weird error on Vercel's end. I just had to redeploy and it deployed correctly. 🤔 Looks like the site's back up! Thanks!

[2022-08-03 17:32] #1199 closed

[2022-08-03 17:33] itsmingjie commented on #1199
Thanks for the swift response!

[2022-08-03 18:03] imbhargav5 commented on #1199
Just a heads up. This issue seems intermittent. I will probably have keep an eye on this one until Vercel releases Turborepo related advancements as publicized on their twitter handle in the next couple of weeks.

[2022-08-03 23:38] imbhargav5 commented on #1139
@Talent30 I am going to reopen the issue, but would love if you can share more info on this one.

[2022-08-04 05:57] qqpann commented on #877
@imbhargav5 This seems to be already fixed.

[2022-08-04 05:58] imbhargav5 commented on #877
@qqpann Got it. Will close 👍

[2022-08-04 05:58] #877 closed

[2022-08-04 06:11] Chaitanya7666 commented on #1194
Hey @imbhargav5 , I checked the reference document that you have added. I don't see anything related to `changsets` in that doc. However, I noticed a `.changeset` folder in the root of the project.

If you could elaborate more on the issue, I would be able to take up the issue and I would love to work on it.

[2022-08-04 06:15] imbhargav5 commented on #1194
@Chaitanya7666 Of course! So we are now using changesets for releases. The commands are very similar to the reference document I linked. Every PR needs to have a changeset information linked to it if it fixes a bug/ adds a new feature or introduces a breaking changes.

`yarn changeset add` adds a new changeset and the contributor can select which packages need to be bumped to which version.
then i

[2022-08-04 06:40] Chaitanya7666 commented on #1194
I partially got it. I think that it would be good to add details on `how to add changeset` under [this section](https://github.com/imbhargav5/rooks/blob/main/CONTRIBUTING.md#contributing-guidelines). What do you think? If that's good, please assign this issue to me.

[2022-08-04 06:50] imbhargav5 commented on #1194
@Chaitanya7666  Yep go for it. If there are any changes I will let you know in the PR. All yours!

[2022-08-04 06:50] #933 closed

[2022-08-04 07:46] qqpann opened #1208 "The hook names surrounded by `` in the markdown disappears in the new website UI"
For example in useKeys, the hook names disappears.

Markdown:
[code]

UI:
<img width="815" alt="スクリーンショット 2022-08-04 16 44 41" src="https://user-images.githubusercontent.com/17402261/182792579-21f7955e-3e72-4351-afde-9d84f66275dc.png">

[2022-08-04 07:51] Chaitanya7666 commented on #1194
[Link to PR](https://github.com/imbhargav5/rooks/pull/1209)

[2022-08-04 08:22] #1194 closed

[2022-08-04 08:23] qqpann commented on #1018
It looks like this issue is caused when you call `alert`.
Without calling alert, the current code works fine.
But when you call alert when the combination of keys is pressed, the `keyup` event is not tracked while the alert is present, causing this issue.

[2022-08-04 09:07] imbhargav5 commented on #1208
Ahh. hmmm. I think we need to change the logic for `code` blocks where we are rendering sandpack.

[2022-08-04 09:08] imbhargav5 commented on #1208
https://github.com/imbhargav5/rooks/blob/main/apps/website/src/components/MDXRenderer/components.tsx#L131 Some change needs to occur here.

[2022-08-04 09:36] qqpann commented on #1018
Also, it may be worth noting that keeping pressing a normal key (such as M) and the control key has different behavior.
Keeping pressing a normal key will trigger `keydown` periodically, while keeping press control key will only trigger `keydown` once at the beginning.

[2022-08-04 09:59] Chaitanya7666 commented on #1177
@imbhargav5 Are you looking for someone to take this up? If so, I would like to take it up with a little bit of explanation.

FYI, I have neither created a custom hook nor know TS.

[2022-08-04 10:12] imbhargav5 commented on #1177
@Chaitanya7666 Go ahead!

[2022-08-04 10:18] Chaitanya7666 commented on #1177
Actually, I did not understand the use case of this hook. Could you please point me out to any resource on the internet that the `useIntersection` hook tries to simplify or explain me briefly what's expected?

[2022-08-04 10:49] qqpann commented on #1208
I looked at it, a quick fix seems to just remove `code: Code`.

@imbhargav5 I'm not familiar with mdx, do you have some reference to the components available?

[2022-08-04 11:09] imbhargav5 commented on #1208
@qqpann Ah so I think I only wrote a couple of components, I one mainly for `pre:` which will spawn up a sandpack, but if removing `code:Code` will solve the problem and nothing else breaks, we can go with it for sure.

[2022-08-04 11:11] #1018 closed

[2022-08-04 11:27] #1208 closed

[2022-08-04 23:47] qqpann commented on #1142
This looks like good to close? @imbhargav5

[2022-08-05 01:23] Talent30 commented on #1139
@imbhargav5 Hi, thank you for your reply!

<img width="427" alt="image" src="https://user-images.githubusercontent.com/12595973/182981627-0083284b-b43a-44a5-bd10-381151062f45.png">
<img width="783" alt="image" src="https://user-images.githubusercontent.com/12595973/182981726-99c70d48-f9e1-474f-9f70-ebd8a629a500.png">
The problem seems to have been solved after a certain nextjs update

[2022-08-05 01:23] #1139 closed

[2022-08-05 07:40] imbhargav5 commented on #1142
Yep! I used @akiszka's code and then made some small changes and the hook is now live.

[2022-08-05 07:40] #1142 closed

[2022-08-05 07:40] imbhargav5 commented on #1142
Thanks a lot @akiszka !

[2022-08-06 15:45] qqpann opened #1218 "Some hooks in the sidebar leads to 404 page"
These hooks in the sidebar leads to 404 page:
- useVisibilitySensor
- useSuspenseResource

Maybe the hooks is already removed?

[2022-08-07 01:41] imbhargav5 commented on #1218
Ah this is correct. useVisibilitySensor is removed and useSuspenseResource idea was discarded. I will remove them. THanks @qqpann !

[2022-08-07 04:50] qqpann commented on #1199
@imbhargav5 It seems to be down again.

[2022-08-07 04:59] imbhargav5 commented on #1199
@qqpann unfortunately this keeps happening only in vercel. I think turborepo build is somewhat broken in vercel.

[2022-08-07 05:11] qqpann commented on #1199
@imbhargav5 That's unfortunate. Did you try to redeploy without cache on vercel?

[2022-08-07 05:24] imbhargav5 commented on #1199
@qqpann I just keep doing that every time it fails and then it works until the next deploy.

[2022-08-07 06:39] imbhargav5 opened #1222 "Looking for contributors to build out the new website"
We are currently in the process of redesigning the entire rooks website and add better documentation. The design is expected to be finished by Aug 31st and we are looking for contributors to help build out the website in September.

Let us know if you are interested!

[2022-08-07 06:45] qqpann commented on #1199
<img width="942" alt="スクリーンショット 2022-08-07 15 44 46" src="https://user-images.githubusercontent.com/17402261/183278761-d79f3a11-7cab-43b3-9c9e-99fbc0b3598f.png">
@imbhargav5  Did you configure the root directory?

[2022-08-07 06:48] imbhargav5 commented on #1199
@qqpann Yeah I did. That's why it works when I redeploy. It only doesn't work the first time it runs.

[2022-08-07 07:22] imbhargav5 commented on #1218
Should be fixed now.

[2022-08-07 07:27] qqpann commented on #1218
Confirmed, locally.

[2022-08-07 07:37] #1218 closed

[2022-08-07 10:45] imbhargav5 commented on #1197
@thiniulian I am closing this due to lack of activity but feel free to open if you need a resolution.

[2022-08-07 10:45] #1197 closed

[2022-08-08 19:21] qqpann commented on #592
@imbhargav5 I tried this a bit. Can I take over it?

[2022-08-09 03:31] imbhargav5 commented on #592
@qqpann Go for it!

[2022-08-09 05:31] #592 closed

[2022-08-09 19:26] hokagedemehin commented on #1222
We can we see more details on the tools, libraries, frameworks etc that you plan to use to build the new website

[2022-08-10 03:54] Chaitanya7666 commented on #1222
Hey @imbhargav5 , I would be interested to contribute to the website. Please take me into account.

[2022-08-10 05:40] imbhargav5 commented on #1222
@hokagedemehin @Chaitanya7666 The website tech is as follows - Next.js, Radix UI, Stitches. And the code is at apps/website in the repo.

Once the design is completed, I will split the work into small tasks and tag you and you can take up the ones which interest you. Thanks!

[2022-08-10 05:56] Chaitanya7666 commented on #1222
@imbhargav5 , Does the design have a link that you could share? If so, could you please share it because I would like to check it out frequently? I just want to be able to see how the design evolves over time during this month.

[2022-08-10 09:04] hokagedemehin commented on #1222
A nice choice for the framework and libraries. The new website will be blazing fast. Although I have not used Radix for any of my past projects, I believe my experience with other UI libraries like Material UI, Chakra UI & Bootsrap should help

[2022-08-10 11:39] sgehrman commented on #1135
fixed?  doesn't work for me.  I'm on the latest build.

[2022-08-10 11:52] sgehrman opened #1234 "doesn't work with NextJs"
ReferenceError: window is not defined
    at useOnWindowScroll (/home/steve/Documents/GitHub/mavrik/fe-infinity/node_modules/rooks/dist/cjs/hooks/useOnWindowScroll.js:19:70)
    at useWindowScrollPosition (/home/steve/Documents/GitHub/mavrik/fe-infinity/node_modules/rooks/dist/cjs/hooks/useWindowScrollPosition.js:34:47)
    at HomePage (webpack-internal:///./pages/index.tsx:48:89)
    at processCh

[2022-08-10 11:54] sgehrman commented on #559
Doesnt' work in     "rooks": "^6.4.1",

[2022-08-10 14:25] imbhargav5 commented on #1234
@gmahima This one was the issue we talked about. Give it a shot!

[2022-08-10 14:30] PascalPixel commented on #559
Can you override `window` in your typescript and say it might be undefined?

Or do this and use `win` everywhere?
```const win = typeof window !== "undefined" ? window : undefined;```

[2022-08-10 16:34] sszczep opened #1235 "[Suggestion] useFullscreen"
Hey,

There have been a lot of issues with useFullscreen hook and I noticed that there is a rewritten version on one of the dev branches. I'm strongly against removing polyfill as stated in #579. The suggested polyfill in documentation ([fullscreen-polyfill](https://www.npmjs.com/package/fullscreen-polyfill)) won't work with Next.JS and other SSR. I'm also concerned about early return from hook (y

[2022-08-10 18:27] qqpann commented on #1176
@imbhargav5  Sounds reasonable!
Maybe we can use useWindowSize for this

[2022-08-11 05:47] imbhargav5 commented on #1235
@sszczep Thanks for this! useFullscreen will be rewritten for sure for v7. It has a poor code quality and is buggy and the plan is to rewrite the whole thing in the next 2 weeks and I would greatly appreciate a PR!

Re: the polyfill. Is there a different polyfill that we can use that works with Next.js and other SSR libs? I really am not keen to increase bundle size by adding polyfills and if ther

[2022-08-11 08:08] sszczep commented on #1235
I don't think external polyfill is feasible, couldn't find any.

I think the only solution is to include it using script tag (I really don't like that, what if there is a race condition and react mounts before the script executes? Seems error prone and requiring exhaustive testing) or by using next dynamic import (I don't like that either, it's platform specific and other renderers might not have

[2022-08-11 10:09] imbhargav5 commented on #1234
@sgehrman Could you check 6.4.2? It is working for me. Thanks!

[2022-08-11 10:09] #1234 closed

[2022-08-11 10:16] imbhargav5 commented on #1235
@sszczep Got it! Let's keep the polyfill and let's not bother with exporting another way for users to add their own polyfill. Your code looks great! Would you like to submit a PR? 🔥🔥

[2022-08-11 10:42] sszczep commented on #1235
I will make further adjustments (better error handling etc.) and create a PR. We should talk about the API though. To be honest I would return only isFullscreenAvailable, isFullscreenEnabled, enableFullscreen, disableFullscreen, toggleFullscreen.

I wouldn't return the fullscreenElement. It requires one more state in hook and I can't find any use case for it.

onChange and onError callbacks are al

[2022-08-11 10:43] qqpann commented on #1222
Radix UI & Stitches sounds pretty modern and fun! Please count me in as well 😃

[2022-08-11 10:45] imbhargav5 commented on #1235
Great callout. Let's do that.

Fine by me. I don't think there is much of a reason to expose it, although it's harmless and doesn't really cause any extra rerender.

[2022-08-11 11:01] sszczep commented on #1235
I guess you're right. It's not a big issue to add it. Maybe someone would want to check if specific element is fullscreened.

I will PR once ready

[2022-08-11 11:19] imbhargav5 commented on #1235
Let's go! @sszczep 🔥🔥

[2022-08-12 17:58] dhavalwd commented on #1222
Hey @imbhargav5 I am interested to contribute to the new website. Let me know how I can help.

[2022-08-13 14:18] qqpann opened #1242 "Add @returns to JSDoc in the template"
There might be hooks without JSDoc for returned values.
How about adding @returns to the template if it looks useful?

[2022-08-13 16:38] imbhargav5 commented on #1242
@qqpann That's actually a very good idea.

[2022-08-15 07:39] FGCorp opened #1243 "useKeyBindings on a Input area"
keybind hook work in a text area.i dont want to run event if im in an input area. is there a prop to work this or hook dont have this function.
thanks

[2022-08-17 12:47] sszczep commented on #1235
Solved in #1241

[2022-08-17 12:47] #1235 closed

[2022-08-17 13:33] hokagedemehin opened #1248 "Documentation Website Keeps Crashing"
Hi @imbhargav5,

Please is there any reason why the website keeps showing me a 404 every time? It was working before but now it shows me 404 pages on any link I go to.

Kindly assist

[2022-08-17 14:14] imbhargav5 commented on #1248
@hokagedemehin I am in touch with the Vercel support to figure out why. Not much on our end but figuring out with the support staff.

[2022-08-19 20:08] imbhargav5 commented on #1243
@FGCorp Can you try this? https://stackoverflow.com/a/1621385/2621400

[code]

[2022-08-20 12:39] imbhargav5 commented on #1248
This seems to have been fixed. Haven't seen this happen in the last 3-4 days but let's open if this repeats.

[2022-08-20 12:39] #1248 closed

[2022-08-23 06:40] imbhargav5 commented on #1243
Closing due to inactivity

[2022-08-23 06:40] #1243 closed

[2022-08-23 15:26] ddsuhaimi opened #1321 "No example for useAsyncEffect"
Currently, no example is found for [useAsyncEffect()](https://github.com/imbhargav5/rooks/blob/main/data/docs/useAsyncEffect.md?plain=1#L16)

Check out [the docs](https://react-hooks.org/docs/useAsyncEffect)

[2022-08-24 12:28] imbhargav5 commented on #1321
@ddsuhaimi Ah that's true. Would you like to try adding an example in a PR? Would appreciate it very much!

[2022-08-29 05:24] ddsuhaimi commented on #1321
I am not sure how useAsyncEffect works to be honest, do I just copy this [example](https://github.com/imbhargav5/rooks/blob/main/packages/rooks/src/hooks/useAsyncEffect.ts#L17-L30)?

[2022-08-29 06:21] imbhargav5 commented on #1321
@ddsuhaimi There is also an example in the test case here.  https://github.com/imbhargav5/rooks/blob/main/packages/rooks/src/__tests__/useAsyncEffect.spec.ts#L175

As long as it covers at least the ones in the test cases, the PR will be super 🔥

[2022-09-01 03:01] Chaitanya7666 commented on #1222
Hey @imbhargav5 , do you have any updates on when we are getting started?

[2022-09-01 14:46] belgattitude opened #1362 "[V7] Bundled umd does not pass es2015-es2019 checks"
The bundled `dist/umd/rooks.umd.js` contains an [optional chaining operator](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining) which is probably too modern for some browsers.

- see support https://caniuse.com/mdn-javascript_operators_optional_chaining

Not sure if it's intended as it does not appear in esm and cjs bundles. If it is would be interesting

[2022-09-01 23:31] imbhargav5 commented on #1362
@belgattitude Thanks for this! Do you happen to know a solution to fix this easily? If you can submit a PR or guide us to a solution we can fix this quickly. Appreciate it! 🚀

[2022-09-02 06:24] belgattitude commented on #1362
Sure I'll have a look this week-end.

[2022-09-02 07:35] belgattitude commented on #1362
Hey @imbhargav5 now that I opened the repo, I see multiple things that would make sense to fix.

First I'd like to rework the exports field (would love to remove unpkg field too - that's the reason why nextjs picked up the umd build, rather than cjs or esm)

Second I feel for bundling esm/cjs I'd like to go with tsup if it makes sense to you.

Third I'm wondering if I could remove the bundled test

[2022-09-02 23:50] imbhargav5 commented on #1362
@belgattitude Wow. Please go ahead and make a PR. I am not entirely sure of all the changes but it seems like you have a solid idea of the ideal setup. Once you make a PR based on your idea, I will do a thorough review and get it shipped asap.

[2022-09-12 11:07] aso1datov opened #1411 "Problem with inferring type in useDebounce"
**Problem:**
When using the `useDebounce` hook, typescript warns about an argument type mismatch. It starts since version 6.

<img width="642" alt="Screenshot 2022-09-12 at 15 06 16" src="https://user-images.githubusercontent.com/8918168/189638534-dc60fb30-6391-479e-8f48-7901181caa4b.png">

**Example:**
https://codesandbox.io/s/sweet-dijkstra-sm3ju2?file=/src/App.tsx

[2022-09-12 12:30] imbhargav5 commented on #1411
@aso1datov Thanks for submitting this issue! I will take a look at this one.

[2022-09-12 12:30] imbhargav5 commented on #1148
@patik Is this still an issue?

[2022-09-14 04:53] imbhargav5 commented on #1411
Should be fixed now.

[2022-09-14 04:53] #1411 closed

[2022-09-14 04:53] #1362 closed

[2022-09-23 12:29] patik commented on #1148
It is still an issue for me. When I use `tsc` to lint my code, I get this error:

[code]

It looks like it's just an incorrect path to the `utils` file. But I'm not sure why no one else is having the issue. I'm using yarn 1.22.15 and TS v4.7.4.

[2022-09-26 14:21] dohomi opened #1457 "[FeatureRequest] change list options of useMultiSelectableList or useSelectableList"
Hi,

I am trying to use `useMultiSelectableList` and `useSelectableList` with changing list of items via a search input (autocomplete) approach.
[code]
Is this somehow possible? Currently the list is not updating when the `filteredOptions` is changed.

Thanks

[2022-09-26 16:11] dohomi commented on #1457
Sorry I overlooked an implementation error, the options are updated already.

[2022-09-26 16:11] #1457 closed

[2022-09-29 11:51] vtaits opened #1481 "Partial imports (typescript)"
I want to import one hook from `rooks`. I don't want to import everything.

[code]

It was possible in older versions of library because there was declaration file `rooks/dist/esm/hooks/useForkRef.d.ts`.

[2022-09-30 17:26] imbhargav5 commented on #1481
@vtaits

[code]

This should work.

[2022-10-03 05:45] imbhargav5 commented on #1481
@vtaits I am closing this as there is no activity but feel free to open this if the issue still exists

[2022-10-03 05:45] #1481 closed

[2022-10-04 06:56] dohomi opened #1496 "useSelectableList does not support object list"
There is a bug in useSelectableList, currently only number/string are supported as object list.

https://github.com/imbhargav5/rooks/blob/main/packages/rooks/src/hooks/useSelectableList.ts#L60

it could be fixed with `find` but its unknown which identifier is the `value`.

[2022-10-04 08:22] dohomi commented on #1496
Well it seems to work, but quite frickle. Seems to be necessary to use `useMemo` on option level otherwise it looses the reference on items

[2022-10-05 16:40] imbhargav5 commented on #1496
Hi @dohomi Thanks for taking this up! I will take a look at this tomorrow!

[2022-10-11 16:30] ddsuhaimi opened #1524 "Cannot separate keys listener in useKeys"
[code]

[Demo](https://codesandbox.io/s/misty-mountain-jzkzg6?file=/src/App.js)

Pressing Ctrl + Shift + M will also fire  the handler for Ctrl + M and it is not possible to diffentiate these two listeners. Would it be possible to pressing second shortcut won't trigger the first shortcut?

[2022-10-11 18:32] imbhargav5 commented on #1524
Does something like this help ? @ddsuhaimi
[code]

[2022-10-15 10:12] bojanvidanovic commented on #666
What if I want to observe an element only once? I think there should be a 3rd prop like `once` (boolean) which would disconnect the observer once it's visible.

[2022-10-20 18:05] #1524 closed

[2022-10-20 18:05] #1496 closed

[2022-10-25 22:44] jrnail23 opened #1557 "Expand HTMLElementOrNull type to include SVGElement"
I'm using useBoundingclientrectRef with an `<svg>` element, but I have to cast the ref to `RefCallback<SVGSVGElement>` in order to shut TypeScript up.  It would be great if you could expand that type to include SVGElement as well.
I'm guessing pretty much everything you're doing with HTMLElement is something that also works with SVGElement.

Thanks for a great lib!

[2022-10-26 06:37] imbhargav5 commented on #1557
Ah that's a great input. Would you mind submitting a PR for this change? Would really appreciate it!

[2022-10-26 21:42] jrnail23 commented on #1557
I'm on it! 👍

[2022-10-26 22:00] jrnail23 commented on #1557
@imbhargav5  should the type possibly be renamed to reflect the new scope?  That (as well as widening the type) could possibly result in a breaking change, FWIW.

Also, after cloning, switching over to node 18.7 (per your nvmrc), running `yarn install` and `yarn build` (on `main` branch, with no code changes), I then get an error when running `yarn typecheck`:

[code]

`yarn test` and `yarn lint`

[2022-10-27 06:12] imbhargav5 commented on #1557
@jrnail23 That's a great catch. Looks like `yarn typecheck` was actually failing the whole time. Fix incoming.

[2022-10-27 06:33] imbhargav5 commented on #1557
@jrnail23 Fixed. ✅

[2022-10-27 15:44] jrnail23 commented on #1557
@imbhargav5, that fixed it -- thanks!

[2022-10-27 15:50] jrnail23 commented on #1557
@imbhargav5 what are your thoughts on this?

I suppose I could add a new `HTMLOrSVGElementOrNull` type and use that in places where `HTMLElementOrNull` is currently used, so as not to break any existing references to that type in users' code.

[2022-10-27 17:46] jrnail23 commented on #1557
Draft PR for comments: #1560

[2022-11-07 08:15] ljwrer opened #1561 "looks like react-hooks.org is down"
The server is not responding...

[2022-11-07 17:09] imbhargav5 commented on #1561
Ah yes. I actually need to update the new location of the web app. Which is https://rooks.vercel.app/

[2022-11-08 04:24] #1561 closed

[2022-11-08 04:24] imbhargav5 commented on #1561
Closing as the website link is now changed.